# Python Fundamentals

Python uses whitespace and indentation to construct the code structure.

In [ ]:
def main():
    i = 1
    max = 10
    while (i < max):
        print(i)
        i = i + 1
# call function main
main()

Continuation of statements, a long statement can span multiple lines by using the backslash (\) character.

In [ ]:
if (a == True) and (b == False) and \
  (c == True):
  print("Continuation of statements")

# String literals
s = 'This is a string'
print(s)
s = "Another string using double quotes"
print(s)
s = '''
Usage: mysql command
    -h hostname
    -d database name
    -u username
    -p password
'''

print(s)

f-string

In [ ]:
name = 'John'
message = f'Hi {name}'
print(message)  # Hi John

website = 'PythonTutorial.net'
message = f'Hello {name}. ' \
    f"You're learning Python at {website}."
print(message)
# Hello John.
# You're learning Python at PythonTutorial.net.

s = f'{1+2}'
print(s) # 3

s = f'{{1+2}}'
print(s) # {1+2}

s = f'{{{1+2}}}'
print(s) # {3}

s = f'{{{{1+2}}}}'
print(s) # {{1+2}}

def inc(numbers, value):
  numbers[0] += value
  return numbers[0]
numbers = [0]
s = f'{inc(numbers,1)},{inc(numbers,2)}'
print(s) # 1,3

r-string

In [ ]:
print(r"C:\path\subpath");  # \ treated as literal character
print(r'C:\python\bin');    # \ treated as literal character

concat string

In [ ]:
greeting = 'Good ' 'Morning!'
print(greeting)

greeting = 'Good '
time = 'Afternoon'
greeting = greeting + time + '!'
print(greeting)

access string elements

In [ ]:
str = "Python String"
print(str[0]) # P
print(str[1]) # y

print(str[-1])  # g
print(str[-2])  # n

# +---+---+---+---+---+---+---+---+---+---+---+---+---+
# | P | y | t | h | o | n |   | S | t | r | i | n | g |
# +---+---+---+---+---+---+---+---+---+---+---+---+---+
#   0   1   2   3   4   5   6   7   8   9   10  11  12
# -13  -12  -11  -10 -9  -8  -7  -6  -5  -4  -3  -2  -1

python strings are immutable

In [ ]:
str = "Python String"
str[0] = 'J'  # will throw error

In [ ]:
str = "Python String"
new_str = 'J' + str[1:]
print(new_str)

type conversion

In [ ]:
print(int(0))
print(float(0))
print(bool(0))
print(str(0))

Python constants

In [ ]:
FILE_SIZE_LIMIT = 2000 # Python doesn’t have built-in constant types.

type hints

In [ ]:
# The predefined types allow the compilers to check the code before compiling and running the program.
# Python’s type hints provide you with optional static typing to leverage the best of both static and dynamic typing.
def say_hi(name: str) -> str:
  return f'Hi {name}'

greeting = say_hi('John')
print(greeting) # Hi John

greeting = say_hi(34)
print(greeting) # Hi 34

# To check the syntax for type hints, you need to use a static type checker tool.
# pip3 install mypy
# mypy app.py

# Python Control Statement

if...else

In [ ]:
age = int(input('Enter your age: '))

# determine the ticket price
if age < 5:
  ticket_price = 5
elif age < 16:
  ticket_price = 10
else:
  ticket_price = 18

# show the ticket price
print(f"You'll pay ${ticket_price} for the ticket")

ternary operator

In [ ]:
# python doesn't support ternary operator like other programming languages ? :
age = input('Enter your age: ')

ticket_price = 20 if int(age) >= 18 else 5 # value_if_true if condition else value_if_false

print(f"The ticket price is {ticket_price}")

for loop

In [ ]:
# range(start, stop, step)
for index in range(5):
  print(index); # 0 1 2 3 4

for index in range(1, 6):
  print(index) # 1 2 3 4 5

for index in range(0, 11, 2):
  print(index) # 0 2 4 6 8 10

while loop

In [ ]:
max = 5
counter = 0

while counter < max:
  print(counter)
  counter += 1

break

In [ ]:
for index in range(0, 10):
  print(index) # 0 1 2 3
  if index == 3:
    break

continue

In [ ]:
for index in range(10):
  if index % 2:
    continue
  print(index) # 0 2 4 6 8

pass

In [ ]:
# counter = 1
# max = 10
# if counter <= max:
#     counter += 1
# else:
#     # implement later
# In the else clause, you haven’t got any code yet. But you’ll write code for this else clause later.

# In this case, if you run the code, you’ll get a syntax error (SyntaxError).
# This is where the Python pass statement comes into play:
# i.e Use the Python pass statement to create a placeholder for the code that you’ll implement later.
counter = 1
max = 10
if counter <= max:
  counter += 1
else:
  pass

for...else

In [ ]:
# In this syntax, the else clause will execute only if the loop runs normally.
# In other words, the else clause won’t execute if the loop encounters a break statement.
people = [
  {'name': 'John', 'age': 25},
  {'name': 'Jane', 'age': 22},
  {'name': 'Peter', 'age': 30},
  {'name': 'Jenifer', 'age': 28}
]

name = input('Enter a name:')
for person in people:
  if person['name'] == name:
    print(person)
    break
else:
  print(f'{name} not found!')

while...else

In [ ]:
# When the condition becomes False and the loop runs normally, the else clause will execute.
# However, if the loop is terminated prematurely by either a break or return statement, the else clause won’t execute at all.
basket = [
  {'fruit': 'apple', 'qty': 20},
  {'fruit': 'banana', 'qty': 30},
  {'fruit': 'orange', 'qty': 10}
]

fruit = input('Enter a fruit:')

index = 0
while index < len(basket):
  item = basket[index]
  # check the fruit name
  if item['fruit'] == fruit:
    print(f"The basket has {item['qty']} {item['fruit']}(s)")
    found_it = True
    break

  index += 1
else:
  qty = int(input(f'Enter the qty for {fruit}:'))
  basket.append({'fruit': fruit, 'qty': qty})
  print(basket)

do...while

In [ ]:
# Unfortunately, Python doesn’t support the do...while loop.
# However, you can use the while loop and a break statement to emulate the do...while loop statement.

# To avoid this duplicate code, you can use a while loop to emulate do while loop as follows:
from random import randint

# determine the range
MIN = 0
MAX = 10

# generate a secret number
secret_number = randint(MIN, MAX)

# initialize the attempt
attempt = 0

while True:
  attempt += 1
  input_number = int(input(f'Enter a number between {MIN} and {MAX}:'))
  if input_number > secret_number:
    print('It should be smaller.')
  elif input_number < secret_number:
    print('It should be bigger.')
  else:
    print(f'Bingo! {attempt} attempt(s)')
    break

# Python Function

normal function

In [ ]:
def sum(a, b):
  return a + b

total = sum(10,20)
print(total) # 30

default parameters

In [ ]:
def greet(name = 'there', message='Hi'):
  return f"{message} {name}"

greeting = greet()
print(greeting) # Hi there

greeting = greet('John')
print(greeting) # Hi John

greeting = greet('John', 'Hello')
print(greeting) # Hello John

greeting = greet(message='Hello')
print(greeting) # Hello there

lambda function

In [ ]:
printStatement = lambda first_name,last_name: f"{first_name} {last_name}"
print(printStatement('python', 'singh')) # python singh

return lambda function

In [ ]:
def times(n):
  return lambda x: x * n

double = times(2)
print(double(3)) # 6

lambda in loop

In [ ]:
callables = []
for i in (1, 2, 3):
  callables.append(lambda: i)

for f in callables:
  print(f())

to show the documentation of a function.

In [ ]:
# Python stores the docstrings in the __doc__ property of the function.
# The following example shows how to access the __doc__ property of the add() function:
def add(a, b):
    # Place a string, either single-line or multi-line strings, as the first line in the function to add documentation to it.
    """ Add two arguments
    Arguments:
        a: an integer
        b: an integer
    Returns:
        The sum of the two arguments
    """
    return a + b

# Use the help() function to get the documentation of a function.
# help(add);
print(add.__doc__)

partial functions - allow us to fix a certain number of arguments of a function and generate a new function.

In [ ]:
def multiply(a, b):
  return a*b;

# sometimes you just want to multiply an argument with a specified number i.e 2. To do that you can reuse the multiply
# function like this.
def double(a):
  return multiply(a, 2);

result = double(10)
print(result) # 20

# double function freeze the second argument of the multiply function, which results in a new function with simpler signature.
# in python double function is called partial function
from functools import partial

def multiply(a, b):
  return a*b;

double = partial(multiply, b = 2)
result = double(10)
print(result)

# Python List

In [ ]:
# list is an ordered collection of items (mixed data types).
todo_list = ['Learn Python List', 'How to manage List elements'];
numbers = [1, 3, 2, 7, 9, 4]
colors = ['red', 'green', 'blue']
coordinates = [[0, 0], [100, 100], [200, 200]]
mixed = [ 1, 'abc', 1.23, (3+4j), True]

list()

In [ ]:
# Convert a string to a list
L = list('abc')
print(L)    # ['a', 'b', 'c']

# Convert a tuple to a list
L = list((1, 2, 3))
print(L)    # [1, 2, 3]

accessing elements

In [ ]:
numbers = [1, 3, 2, 7, 9, 4]
print(numbers[1])   # 3
print(numbers[-1])  # 4
print(numbers[-2])  # 9
print(numbers[2:5]) # [2, 7, 9]
print(numbers[0:2]) # [1, 3]
print(numbers[3:-1])# [7, 9]

list slicing

In [ ]:
L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[-7:-2]) # ['c', 'd', 'e', 'f', 'g']

L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[2:-5])  # ['c', 'd']

L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[:3])  # ['a', 'b', 'c']

L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[6:])  # ['g', 'h', 'i']

speicify steps of slicing

In [ ]:
L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[2:7:2]) # ['c', 'e', 'g']

L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[6:1:-2])  # ['g', 'e', 'c']

reverse a list

In [ ]:
L = ['a', 'b', 'c', 'd', 'e']
print(L[::-1])  # ['e', 'd', 'c', 'b', 'a']

clone or copy a list

In [ ]:
L1 = ['a', 'b', 'c', 'd', 'e']
L2 = L1[:]
print(L2) # ['a', 'b', 'c', 'd', 'e']
print(L2 is L1) # False

modifying elements

In [ ]:
numbers = [1, 3, 2, 7, 9, 4]
numbers[0] = 10;
print(numbers)  # 10, 3, 2, 7, 9, 4

L = ['a', 'b', 'c', 'd', 'e']
L[1:2] = [1, 2, 3]
print(L)  # ['a', 1, 2, 3, 'c', 'd', 'e']

adding element

In [ ]:
numbers = [1, 3, 2, 7, 9, 4]
numbers.append(100)
print(numbers)  # [1, 3, 2, 7, 9, 4, 100]

numbers = [1, 3, 2, 7, 9, 4]
numbers.insert(2, 100) # adds a new element at any position (index) in the list.
print(numbers)  # [1, 3, 100, 2, 7, 9, 4]

L = ['a', 'b', 'c']
L[:0] = [1, 2, 3]
print(L)  # [1, 2, 3, 'a', 'b', 'c']

L = ['a', 'b', 'c']
L[len(L):] = [1, 2, 3]
print(L)  # ['a', 'b', 'c', 1, 2, 3]

L = ['a', 'b', 'c']
L[1:1] = [1, 2, 3]
print(L)  # ['a', 1, 2, 3, 'b', 'c']

removing element

In [ ]:
numbers = [1, 3, 2, 7, 9, 4]
del numbers[0]
print(numbers)  # [3, 2, 7, 9, 4]

numbers = [1, 3, 2, 7, 9, 4]
last = numbers.pop()
print(last)     # 4
print(numbers)  # [1, 3, 2, 7, 9]

numbers = [1, 3, 2, 7, 9, 4]
second = numbers.pop(1) # pop element by position (index)
print(second)   # 3
print(numbers)  # [1, 2, 7, 9, 4]

numbers = [1, 3, 2, 7, 9, 4, 9]
numbers.remove(9)   # remove element by value
print(numbers)  # [1, 3, 2, 7, 4, 9]

L = ['red', 'green', 'blue', 'yellow', 'black']
del L[1:4]  # remove multiple items
print(L)    # ['red', 'black']

L = ['red', 'green', 'blue']
L.clear()   # remove all
print(L)    # []

list replication

In [ ]:
L = ['red']
L = L * 3
print(L)    # ['red', 'red', 'red']

find length of list

In [ ]:
print(len(L))

check item presence

In [ ]:
# Check for presence
L = ['red', 'green', 'blue']
if 'red' in L:
  print('yes')

# Check for absence
L = ['red', 'green', 'blue']
if 'yellow' not in L:
  print('yes')

iterate

In [ ]:
L = ['red', 'green', 'blue']
for item in L:
  print(item)
# Prints red
# Prints green
# Prints blue

combine list

In [ ]:
# using extend
L = ['red', 'green', 'yellow']
L.extend([1,2,3])
print(L)    # ['red', 'green', 'yellow', 1, 2, 3]

# concatenation operator
L = ['red', 'green', 'blue']
L = L + [1,2,3]
print(L)    # ['red', 'green', 'blue', 1, 2, 3]

# augmented assignment operator
L = ['red', 'green', 'blue']
L += [1,2,3]
print(L)    # ['red', 'green', 'blue', 1, 2, 3]

nested list

In [ ]:
L = ['a', 'b', ['cc', 'dd', ['eee', 'fff']], 'g', 'h']

print(L[-3])          # Prints ['cc', 'dd', ['eee', 'fff']]

print(L[-3][-1])      # Prints ['eee', 'fff']

print(L[-3][-1][-2])  # Prints eee

change nested list item

In [ ]:
L = ['a', ['bb', 'cc'], 'd']
L[1][1] = 0
print(L)  # Prints ['a', ['bb', 0], 'd']

iterate through nested

In [ ]:
L = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
for list in L:
  for number in list:
    print(number, end=' ')
# Prints 1 2 3 4 5 6 7 8 9

nested list length

In [ ]:
L = ['a', ['bb', 'cc'], 'd']

print(len(L))     # Prints 3

print(len(L[1]))  # Prints 2

remove from nested list

In [ ]:
# If you know the index of the item you want, you can use pop() method. It modifies the list and returns the removed item.
L = ['a', ['bb', 'cc', 'dd'], 'e']
x = L[1].pop(1)
print(L)  # Prints ['a', ['bb', 'dd'], 'e']

# removed item
print(x)  # Prints cc

# If you don’t need the removed value, use the del statement.
L = ['a', ['bb', 'cc', 'dd'], 'e']
del L[1][1]
print(L)  # Prints ['a', ['bb', 'dd'], 'e']

# If you’re not sure where the item is in the list, use remove() method to delete it by value.
L = ['a', ['bb', 'cc', 'dd'], 'e']
L[1].remove('cc')
print(L)  # Prints ['a', ['bb', 'dd'], 'e']

sort list

In [ ]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
guests.sort()
print(guests)

guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
guests.sort(reverse = True)
print(guests)

list comprehension

In [ ]:
"""
Suppose you want to create a list of all integer square numbers from 0 to 4. You could build that list by appending one item at a time to an empty list:
L = []
L.append(0)
L.append(1)
L.append(4)
L.append(9)
L.append(16)

Or, you could just use an iterator and the range() function:
L = []
for x in range(5):
  L.append(x**2)
"""

# Here’s how a list comprehension would build the above list:
L = [x**2 for x in range(5)]
print(L)  # [0, 1, 4, 9, 16]

L = [x*3 for x in 'RED']
print(L)  # ['RRR', 'EEE', 'DDD']

vec = [-4, -2, 0, 2, 4]
L = [abs(x) for x in vec]
print(L)  # [4, 2, 0, 2, 4]

colors = ['  red', '  green ', 'blue  ']
L = [color.strip() for color in colors]
print(L)  # ['red', 'green', 'blue']

L = [(x, x**2) for x in range(4)]
print(L)  # [(0, 0), (1, 1), (2, 4), (3, 9)]

list comprehension with if clause

In [ ]:
vec = [-4, -2, 0, 2, 4]
L = [x for x in vec if x >= 0]
print(L)  # [0, 2, 4]

# This above list comprehension is the same as a for loop that contains an if statement:
vec = [-4, -2, 0, 2, 4]
L = []
for x in vec:
  if x >= 0:
    L.append(x)
print(L)  # [0, 2, 4]

nested list comprehension

In [ ]:
vector = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
L = [number for list in vector for number in list]
print(L)  # [1, 2, 3, 4, 5, 6, 7, 8, 9]

# equivalent to the following plain, old nested loop:
vector = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
L = []
for list in vector:
  for number in list:
    L.append(number)
print(L)  # [1, 2, 3, 4, 5, 6, 7, 8, 9]

matrix example of list comprehension

In [ ]:
matrix = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]
L = [[row[i] for row in matrix] for i in range(3)]
print(L)  # [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

List Comprehension vs map() + lambda

In [ ]:
# With list comprehension
L = [x ** 2 for x in range(5)]
print(L)  # [0, 1, 4, 9, 16]

# With map() function
L = list(map((lambda x: x ** 2), range(5)))
print(L)  # [0, 1, 4, 9, 16]

List Comprehension vs filter() + lambda

In [ ]:
# With list comprehension
L = [x for x in range(10) if x % 2 == 0]
print(L)  # [0, 2, 4, 6, 8]

# With filter() function
L = list(filter((lambda x: x % 2 == 0), range(10)))
print(L)  # [0, 2, 4, 6, 8]

Unpacking and packing

In [ ]:
# First, unpack the needed elements to variables.
# Second, pack the leftover elements into a new list and assign it to another variable

colors = ['cyan', 'magenta', 'yellow', 'black']
cyan, magenta, *other = colors

print(cyan)     # cyan
print(magenta)  # magenta
print(other)    # ['yellow', 'black']

iterate over list with index

In [ ]:
# enumerate() returns tuple with index i.e (index, element)
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']
for item in enumerate(cities):
  print(item)                 # (0, 'New York') ...

cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']
for index, city in enumerate(cities):
  print(f"{index}: {city}")   # 0: New York

# The enumerate() function allows you to specify the starting index which defaults to zero.
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']
for index, city in enumerate(cities, 1):
  print(f"{index}: {city}")   # 1: New York ...

Extras

In [ ]:
odd_numbers = [1, 3, 5]
even_numbers = [2, 4, 6]

numbers = [odd_numbers, even_numbers]
print(numbers)  # [[1, 3, 5], [2, 4, 6]]

numbers = [*odd_numbers, *even_numbers]
print(numbers)  # [1, 3, 5, 2, 4, 6]

List methods

In [ ]:
"""
Method	    Description
append()	  Adds an item to the end of the list
insert()	  Inserts an item at a given position
extend()	  Extends the list by appending all the items from the iterable
remove()	  Removes first instance of the specified item
pop()	      Removes the item at the given position in the list
clear()	    Removes all items from the list
copy()	    Returns a shallow copy of the list
count()	    Returns the count of specified item in the list
index()	    Returns the index of first instance of the specified item
reverse()	  Reverses the items of the list in place
sort()	    Sorts the items of the list in place
"""

append() method treats its argument as a single object.

In [ ]:
L = ['red', 'green']
L.append('blue')
print(L)  # ['red', 'green', 'blue']

L = ['red', 'green', 'blue']
L.append([1,2,3])
print(L)  # ['red', 'green', 'blue', [1, 2, 3]]

extend() method, if you want to add every item of an iterable to a list.

In [ ]:
L = ['red', 'green']
L.extend('blue')
print(L)  # ['red', 'green', 'b', 'l', 'u', 'e']

L = ['red', 'green', 'blue']
L.extend({1,2,3})
print(L)  # ['red', 'green', 'blue', 1, 2, 3]

L = ['red', 'green', 'blue']
L.extend((1,2,3))
print(L)  # ['red', 'green', 'blue', 1, 2, 3]

L = ['red', 'green', 'blue']
L.extend([1,2,3])
print(L)  # ['red', 'green', 'blue', 1, 2, 3]

# alternates
L = ['red', 'green', 'blue']
L[len(L):] = [1,2,3]
print(L)  # ['red', 'green', 'blue', 1, 2, 3]

L = ['red', 'green', 'blue']
L = L + [1,2,3]
print(L)  # ['red', 'green', 'blue', 1, 2, 3]

# Augmented assignment operator
L = ['red', 'green', 'blue']
L += [1,2,3]
print(L)  # ['red', 'green', 'blue', 1, 2, 3]

insert() method to insert a single item at a specified index in a list.

In [ ]:
L = ['red', 'green', 'blue']
L.insert(1,'yellow')
print(L)  # ['red', 'yellow', 'green', 'blue']

L = ['red', 'green', 'blue']
L.insert(-2,'yellow')
print(L)  # ['red', 'yellow', 'green', 'blue']

L = ['red', 'green', 'blue']
L.insert(10,'yellow')
print(L)  # ['red', 'green', 'blue', 'yellow']

clear() method to remove all items from the list.

In [ ]:
L = ['red', 'green', 'blue']
L.clear()
print(L)  # []

# alternatives of clear()
L = ['red', 'green', 'blue']
del L[:]
print(L)  # []

L = ['red', 'green', 'blue']
L[:] = []
print(L)  # []

L = ['red', 'green', 'blue']
L *= 0
print(L)  # []

pop() method removes a single list item at specified index and returns it. If no index is specified, pop() method removes and returns the last item in the list.

In [ ]:
L = ['red', 'green', 'blue']
x = L.pop(1)

print(x)  # removed item i.e green
print(L)  # ['red', 'blue']

L = ['red', 'green', 'blue']
L.pop()
print(L)  # Prints ['red', 'green']

L = ['red', 'green', 'blue']
L.pop(-2)
print(L)  # ['red', 'blue']

copy() method returns the Shallow copy of the specified list.

In [ ]:
old_List = ['red', 'green', 'blue']
new_List = old_List.copy()
new_List[0] = 'xx'
print(old_List) # ['red', 'green', 'blue']
print(new_List) # ['xx', 'green', 'blue']

# alternate of copy()
L = ['red', 'green', 'blue']
X = L[:]
print(X)  # ['red', 'green', 'blue']

copy() vs Assignment statement

In [ ]:
old_List = ['red', 'green', 'blue']
new_List = old_List
new_List[0] = 'xx'
print(old_List) # ['xx', 'green', 'blue']
print(new_List) # ['xx', 'green', 'blue']

remove() method to remove a single item from a list.

In [ ]:
L = ['red', 'green', 'blue']
L.remove('green')
print(L)  # ['red', 'blue']

L = ['red', 'green', [1, 2, 3]]
L.remove([1, 2, 3])
print(L)  # ['red', 'green']

L = ['red', 'green', 'blue', 'red', 'red']
L.remove('red')
print(L)  # ['green', 'blue', 'red', 'red']

# ------------------------------------------ to remove duplicates

# list comprehension
L = ['red', 'green', 'blue', 'red', 'red']
L = [x for x in L if x is not 'red']
print(L)  # ['green', 'blue']

# lambda expression
L = ['red', 'green', 'blue', 'red', 'red']
L = list(filter(lambda x: x is not 'red', L))
print(L)  # ['green', 'blue']

remove() method raises an ValueError exception, if specified item doesn’t exist in a list.

In [ ]:
L = ['red', 'green', 'blue']
L.remove('yellow')
# Triggers ValueError: list.remove(x): x not in list

# To avoid such exception, you can check if item exists in a list, using in operator inside if statement.
L = ['red', 'green', 'blue']
if 'yellow' in L:
  L.remove('yellow')

count() method to find the number of times the specified item appears in the list.

In [ ]:
L = ['red', 'green', 'blue']
print(L.count('red')) # 1

L = [1, 9, 7, 3, 9, 1, 9, 2]
print(L.count(9)) # 3

# Count Multiple Items
L = ['a', 'b', 'c', 'b', 'a', 'a', 'a']
from collections import Counter
print(Counter(L)) # Counter({'a': 4, 'b': 2, 'c': 1})

reverse() method reverses the order of list. This method does not return anything; it modifies the list in place.

In [ ]:
L = [1, 2, 3, 4, 5]
L.reverse()
print(L)  # [5, 4, 3, 2, 1]

L = ['red', 'green', 'blue']
L.reverse()
print(L)  # ['blue', 'green', 'red']

# If you don’t want to modify the list but access items in reverse order, you can use reversed() built-in function.
# It returns the reversed iterator object, with which you can loop through the list in reverse order.
L = ['red', 'green', 'blue']
for x in reversed(L):
  print(x)
# blue
# green
# red

sort() method sorts the list of strings alphabetically and the list of numbers numerically.

In [ ]:
L = ['red', 'green', 'blue', 'orange']
L.sort()
print(L)  # ['blue', 'green', 'orange', 'red']

L = [42, 99, 1, 12]
L.sort()
print(L)  # [1, 12, 42, 99]

# However, you cannot sort lists that have both numbers and strings in them,
# since Python doesn’t know how to compare these values.
# L = ['red', 'blue', 1, 12, 'orange',42, 'green', 99]
# L.sort()  # Triggers TypeError: '<' not supported between instances of 'int' and 'str'

L = ['red', 'green', 'blue', 'orange']
L.sort(reverse=True)
print(L)  # ['red', 'orange', 'green', 'blue']

sort with key. For example, with a list of strings, specifying key=len (the built-in len() function) sorts the strings by length, from shortest to longest.

In [ ]:
L = ['red', 'green', 'blue', 'orange']
L.sort(key=len)
print(L)  # ['red', 'blue', 'green', 'orange']

sort with custom function

In [ ]:
def myFunc(e):
  return e[1]	# return age
L = [('Bob', 30),
     ('Sam', 35),
     ('Max', 25)]
L.sort(key=myFunc)
print(L)  # [('Max', 25), ('Bob', 30), ('Sam', 35)]

def myFunc(e):
    return e['age']		# return age
L = [{'name': 'Bob', 'age': 30},
     {'name': 'Sam', 'age': 35},
     {'name': 'Max', 'age': 25}]
L.sort(key=myFunc)
print(L)  # [{'age': 25, 'name': 'Max'}, {'age': 30, 'name': 'Bob'}, {'age': 35, 'name': 'Sam'}]

Case-insensitive Sorting

In [ ]:
# By default, the sort() method sorts the list in ASCIIbetical order rather than actual alphabetical order. This means uppercase letters come before lowercase letters.
# If you want to sort the values in regular alphabetical order, set key to str.lower
L = ['Red', 'blue', 'Green', 'orange']
L.sort(key=str.lower)
print(L)  # ['blue', 'Green', 'orange', 'Red']

sort() vs sorted()

In [ ]:
# The sort() method doesn’t return anything, it modifies the original list (i.e. sorts in-place).
# If you don’t want to modify the original list, use sorted() function. It returns a sorted copy of the list.
L = ['red', 'green', 'blue', 'orange']
x = sorted(L)
print(x)  # ['blue', 'green', 'orange', 'red']

index() method searches for the first occurrence of the given item and returns its index. If specified item is not found, it raises ‘ValueError’ exception.

In [ ]:
L = ['a','b','c','d','e','f','a','b','c','d','e','f']
print(L.index('c')) # 2

L = ['a','b','c','d','e','f','a','b','c','d','e','f']
print(L.index('c',5)) # 8

L = ['a','b','c','d','e','f','a','b','c','d','e','f']
print(L.index('c',5,10))  # 8

# To avoid exception, you can check if item exists in a list, using in operator inside if statement.
L = ['a','b','c','d','e','f','a','b','c','d','e','f']
if 'x' in L:
  print(L.index('x'))

Built-in functions with List

In [ ]:
"""
Method	    Description
all()	      Returns True if all list items are true
any()	      Returns True if any list item is true
enumerate()	Takes a list and returns an enumerate object
len()	      Returns the number of items in the list
list()	    Converts an iterable (tuple, string, set etc.) to a list
max()	      Returns the largest item of the list
min()	      Returns the smallest item of the list
sorted()	  Returns a sorted list
sum()	      Sums items of the list
"""

# Python Tuple

In [ ]:
# A tuple is like a list except that it uses parentheses () instead of square brackets [].
# A tuple is an immutable list.

rgb = ('red', 'green', 'blue')
print(rgb[0])   # red
print(rgb[1])   # green
print(rgb[2])   # blue

# mixed
T = (1, 'abc', 1.23, True)

# empty
T = ()

# You don’t need the parentheses to create a tuple. It’s the trailing commas that really define a tuple.
# But using them doesn’t hurt; also they help make the tuple more visible.
T = 1, 'abc', 1.23, True

# nested tuple
T = ('red', ('green', 'blue'), 'yellow')

In [ ]:
# Since a tuple is immutable, you cannot change its elements.
rgb = ('red', 'green', 'blue')
rgb[0] = 'yellow' # throw error - TypeError: 'tuple' object does not support item assignment

In [ ]:
colors = ('red', 'green', 'blue')
print(colors)   # ('red', 'green', 'blue')

colors = ('Cyan', 'Magenta', 'Yellow', 'black')
print(colors)   # ('Cyan', 'Magenta', 'Yellow', 'black')

Singleton Tuple

In [ ]:
# If you have only one value in a tuple, you can indicate this by including a trailing comma , just before the closing parentheses.
T = (4,)
print(type(T))  # <type 'tuple'>

# Otherwise, Python will think you’ve just typed a value inside regular parentheses.
# Not a tuple
T = (4)
print(type(T))  # <type 'int'>

tuple() - use to convert other data types to tuple.

In [ ]:
T = tuple([1, 2, 3])
print(T)  # (1, 2, 3)

T = tuple('abc')
print(T)  # ('a', 'b', 'c')

The tuple immutability is applicable only to the top level of the tuple itself, not to its contents. For example, a list inside a tuple can be changed as usual.

In [ ]:
T = ('red', 'green', 'blue')
T[0] = 'black'  # Triggers TypeError: 'tuple' object does not support item assignment

T = (1, [2, 3], 4)
T[1][0] = 'xx'
print(T)  # (1, ['xx', 3], 4)

delete a tuple

In [ ]:
T = ('red', 'green', 'blue')
del T

tuple concatenation & replication

In [ ]:
# Concatenate
T = ('red', 'green', 'blue') + (1, 2, 3)
print(T)  # ('red', 'green', 'blue', 1, 2, 3)

# Replicate
T = ('red',) * 3
print(T)  # ('red', 'red', 'red')

len()

In [ ]:
T = ('red', 'green', 'blue')
print(len(T)) # 3

check item exists in tuple

In [ ]:
T = ('red', 'green', 'blue')
if 'red' in T:
  print('yes')

# Check for absence
T = ('red', 'green', 'blue')
if 'yellow' not in T:
  print('yes')

iterate tuple

In [ ]:
T = ('red', 'green', 'blue')
for item in T:
  print(item) # red green blue

sort tuple

In [ ]:
# Method 1: Use the built-in sorted() method that accepts any sequence object.
T = ('cc', 'aa', 'dd', 'bb')
print(tuple(sorted(T))) # ('aa', 'bb', 'cc', 'dd')

# Method 2: Convert a tuple to a mutable object like list (using list constructor), gain access to a sorting method call (sort()) and convert it back to tuple.
T = ('cc', 'aa', 'dd', 'bb')
tmp = list(T)    # convert tuple to list
tmp.sort()       # sort list
T = tuple(tmp)   # convert list to tuple
print(T)         # Prints ('aa', 'bb', 'cc', 'dd')

packing & unpacking

In [ ]:
r, g, *other = (192, 210, 100, 0.5)
# print(r)      192
# print(g)      210
# print(other)  [100, 0.5]

Extras

In [ ]:
odd_numbers = (1, 3, 5)
even_numbers = (2, 4, 6)

numbers = (odd_numbers, even_numbers)
print(numbers)  # ((1, 3, 5), (2, 4, 6))

numbers = (*odd_numbers, *even_numbers)
print(numbers)  # (1, 3, 5, 2, 4, 6)

tuple methods

In [ ]:
"""
Method	  Description
count()	  Returns the count of specified item in the tuple
index()	  Returns the index of first instance of the specified item
"""

count() method to find the number of times the given item appears in the tuple.

In [ ]:
T = ('red', 'green', 'blue')
print(T.count('red')) # 1

T = (1, 9, 7, 3, 9, 1, 9, 2)
print(T.count(9)) # 3

# Count Multiple Items
T = ('a', 'b', 'c', 'b', 'a', 'a', 'a')
from collections import Counter
print(Counter(T)) # Counter({'a': 4, 'b': 2, 'c': 1})

index() method searches for the first occurrence of the given item and returns its index. If specified item is not found, it raises ‘ValueError’ exception.

In [ ]:
T = ('a','b','c','d','e','f','a','b','c','d','e','f')
print(T.index('c')) # 2

T = ('a','b','c','d','e','f','a','b','c','d','e','f')
print(T.index('c',5)) # 8

T = ('a','b','c','d','e','f','a','b','c','d','e','f')
print(T.index('c',5,10))  # 8

T = ('a','b','c','d','e','f','a','b','c','d','e','f')
if 'x' in T:
    print(T.index('x'))

Built-in functions with tuple

In [ ]:
"""
Method	    Description
all()	      Returns True if all list items are true
any()	      Returns True if any list item is true
enumerate()	Takes a list and returns an enumerate object
len()	      Returns the number of items in the list
list()	    Converts an iterable (tuple, string, set etc.) to a list
max()	      Returns the largest item of the list
min()	      Returns the smallest item of the list
sorted()	  Returns a sorted list
sum()	      Sums items of the list
"""

# Python Map, Filter, Reduce

map

In [ ]:
bonuses = [100, 200, 300];
modified = map(lambda bonus: bonus*2, bonuses);
print(list(modified));  # [200, 400, 600]

names = ['david', 'peter', 'jenifer']
modified = map(lambda name: name.capitalize(), names)
print(list(modified))   # ['David', 'Peter', 'Jenifer']

carts = [
    ['SmartPhone', 400],
    ['Tablet', 450],
    ['Laptop', 700]
]
TAX = 0.1
carts = map(lambda item: [item[0], item[1], item[1] * TAX], carts)
print(list(carts))  # [['SmartPhone', 400, 40.0], ['Tablet', 450, 45.0], ['Laptop', 700, 70.0]]

filter

In [ ]:
scores = [70, 60, 80, 90, 50]
filtered = filter(lambda score: score >= 70, scores)
print(list(filtered))   # [70, 80, 90]

countries = [
    ['China', 1394015977],
    ['United States', 329877505],
    ['India', 1326093247],
    ['Indonesia', 267026366],
    ['Bangladesh', 162650853],
    ['Pakistan', 233500636],
    ['Nigeria', 214028302],
    ['Brazil', 21171597],
    ['Russia', 141722205],
    ['Mexico', 128649565]
]
populated = filter(lambda c: c[1] > 300000000, countries)
print(list(populated))  # [['China', 1394015977], ['India', 1326093247], ['United States', 329877505]]

reduce

In [ ]:
from functools import reduce

scores = [75, 65, 80, 95, 50]
total = reduce(lambda a, b: a + b, scores)
print(total)    # 365

# Python Dictionary

A Python dictionary is a collection of key-value pairs where each key is associated with a value.

A value in the key-value pair can be a number, a string, a list, a tuple, or even another dictionary. In fact, you can use a value of any valid type in Python as the value in the key-value pair.

In [ ]:
person = {
    'name': 'Bob',
    'age': 25,
    'job': 'Dev',
    'city': 'New York',
    'email': 'bob@web.com'
}
print(person['name']) # Bob
print(person['age'])  # 25

print(person['salary'])  # Triggers KeyError: 'salary'

# When key is present
print(person.get('name'))  # Bob

# When key is absent
print(person.get('salary'))  # None

You can convert two-value sequences into a dictionary with Python’s dict() constructor. The first item in each sequence is used as the key and the second as the value.

In [ ]:
L = [('name', 'Bob'),
     ('age', 25),
     ('job', 'Dev')]
D = dict(L)
print(D)  # {'name': 'Bob', 'age': 25, 'job': 'Dev'}

T = (['name', 'Bob'],
     ['age', 25],
     ['job', 'Dev'])
D = dict(T)
print(D)  # {'name': 'Bob', 'age': 25, 'job': 'Dev'}

D = dict(name = 'Bob',
         age = 25,
         job = 'Dev')
print(D)  # {'name': 'Bob', 'age': 25, 'job': 'Dev'}

keys = ['name', 'age', 'job']
values = ['Bob', 25, 'Dev']
D = dict(zip(keys, values))
print(D)  # {'name': 'Bob', 'age': 25, 'job': 'Dev'}

keys = ['a', 'b', 'c']
defaultValue = 0
D = dict.fromkeys(keys,defaultValue)
print(D)  # {'a': 0, 'b': 0, 'c': 0}

keys = ['name', 'age', 'job']
values = ['Bob', 25, 'Dev']
D = list(zip(keys, values))
print(D)  # [('name', 'Bob'), ('age', 25), ('job', 'Dev')]

Important Properties of a Dictionary

In [ ]:
# Keys must be unique:
D = {'name': 'Bob',
     'age': 25,
     'name': 'Jane'}
print(D)  # {'name': 'Jane', 'age': 25}

# Key must be immutable type:
# You can use any object of immutable type as dictionary keys – such as numbers, strings, booleans or tuples.
D = {
    (2,2): 25,
    True: 'a',
    'name': 'Bob'
}

# An exception is raised when mutable object is used as a key.
# TypeError: unhashable type: 'list'
D = {
    [2,2]: 25,
    'name': 'Bob'
}

Add or Update Dictionary Items

In [ ]:
D = {
    'name': 'Bob',
    'age': 25,
    'job': 'Dev'
}

D['name'] = 'Sam'
print(D)  # {'name': 'Sam', 'age': 25, 'job': 'Dev'}

D['city'] = 'New York'
print(D)  # {'name': 'Bob', 'age': 25, 'job': 'Dev', 'city': 'New York'}

Merge Two Dictionaries

In [ ]:
D1 = {'name': 'Bob',
      'age': 25,
      'job': 'Dev'}

D2 = {'age': 30,
      'city': 'New York',
      'email': 'bob@web.com'}

D1.update(D2)
print(D1) # {'name': 'Bob', 'age': 30, 'job': 'Dev', 'city': 'New York', 'email': 'bob@web.com'}

Remove Dictionary Items

In [ ]:
D = {'name': 'Bob',
     'age': 25,
     'job': 'Dev'}

x = D.pop('age')
print(D)  # {'name': 'Bob', 'job': 'Dev'}
print(x)  # get removed value i.e 25

D = {'name': 'Bob',
     'age': 25,
     'job': 'Dev'}

del D['age']
print(D)  # {'name': 'Bob', 'job': 'Dev'}

D = {'name': 'Bob',
     'age': 25,
     'job': 'Dev'}

x = D.popitem()
print(D)  # {'name': 'Bob', 'age': 25}
print(x)  # get removed pair ('job', 'Dev')

D = {'name': 'Bob',
     'age': 25,
     'job': 'Dev'}

D.clear()
print(D)  # {}

get all keys, values, entries

In [ ]:
D = {'name': 'Bob',
     'age': 25,
     'job': 'Dev'}

print(list(D.keys())) # ['name', 'age', 'job']

print(list(D.values())) # ['Bob', 25, 'Dev']

print(list(D.items()))  # [('name', 'Bob'), ('age', 25), ('job', 'Dev')]

Iterate Through a Dictionary

In [ ]:
D = {'name': 'Bob',
     'age': 25,
     'job': 'Dev'}

for x in D:
    print(x)  # name age job

D = {'name': 'Bob',
     'age': 25,
     'job': 'Dev'}

for x in D:
    print(D[x]) # Bob 25 Dev

Check if a Key or Value Exists

In [ ]:
D = {'name': 'Bob',
     'age': 25,
     'job': 'Dev'}

print('name' in D)    # True
print('salary' in D)  # False

D = {'name': 'Bob',
     'age': 25,
     'job': 'Dev'}

print('Bob' in D.values())  # True
print('Sam' in D.values())  # False

dictionary length

In [ ]:
D = {'name': 'Bob',
     'age': 25,
     'job': 'Dev'}

print(len(D)) # 3

Nested Dictionary & dict() constructor

In [ ]:
D = {'emp1': {'name': 'Bob', 'job': 'Mgr'},
     'emp2': {'name': 'Kim', 'job': 'Dev'},
     'emp3': {'name': 'Sam', 'job': 'Dev'}}

D = dict(emp1 = {'name': 'Bob', 'job': 'Mgr'},
         emp2 = {'name': 'Kim', 'job': 'Dev'},
         emp3 = {'name': 'Sam', 'job': 'Dev'})
print(D)
#        {'emp1': {'name': 'Bob', 'job': 'Mgr'},
#         'emp2': {'name': 'Kim', 'job': 'Dev'},
#         'emp3': {'name': 'Sam', 'job': 'Dev'}}

IDs = ['emp1','emp2','emp3']
EmpInfo = [{'name': 'Bob', 'job': 'Mgr'},
           {'name': 'Kim', 'job': 'Dev'},
           {'name': 'Sam', 'job': 'Dev'}]
D = dict(zip(IDs, EmpInfo))
print(D)
#        {'emp1': {'name': 'Bob', 'job': 'Mgr'},
#         'emp2': {'name': 'Kim', 'job': 'Dev'},
#         'emp3': {'name': 'Sam', 'job': 'Dev'}}

IDs = ['emp1','emp2','emp3']
Defaults = {'name': '', 'job': ''}
D = dict.fromkeys(IDs, Defaults)
print(D)
#        {'emp1': {'name': '', 'job': ''},
#         'emp2': {'name': '', 'job': ''},
#         'emp3': {'name': '', 'job': ''}}

Access Nested Dictionary Items

In [ ]:
D = {'emp1': {'name': 'Bob', 'job': 'Mgr'},
     'emp2': {'name': 'Kim', 'job': 'Dev'},
     'emp3': {'name': 'Sam', 'job': 'Dev'}}
print(D['emp1']['name'])  # Bob
print(D['emp2']['job'])   # Dev

print(D['emp1']['salary'])  # Triggers KeyError: 'salary'

# key present
print(D['emp1'].get('name'))  # Bob

# key absent
print(D['emp1'].get('salary'))  # None

Change Nested Dictionary Items

In [ ]:
D = {'emp1': {'name': 'Bob', 'job': 'Mgr'},
     'emp2': {'name': 'Kim', 'job': 'Dev'},
     'emp3': {'name': 'Sam', 'job': 'Dev'}}

D['emp3']['name'] = 'Max'
D['emp3']['job'] = 'Janitor'

print(D['emp3'])  # {'name': 'Max', 'job': 'Janitor'}

Add or Update Nested Dictionary Items

In [ ]:
D = {'emp1': {'name': 'Bob', 'job': 'Mgr'},
     'emp2': {'name': 'Kim', 'job': 'Dev'},
     'emp3': {'name': 'Sam', 'job': 'Dev'}}

D['emp3'] = {'name': 'Max', 'job': 'Janitor'}

print(D)
#        {'emp1': {'name': 'Bob', 'job': 'Mgr'},
#         'emp2': {'name': 'Kim', 'job': 'Dev'},
#         'emp3': {'name': 'Max', 'job': 'Janitor'}}

D = {'emp1': {'name': 'Bob', 'job': 'Mgr'},
     'emp2': {'name': 'Kim', 'job': 'Dev'},
     'emp3': {'name': 'Sam', 'job': 'Dev'}}

D['emp4'] = {'name': 'Max', 'job': 'Janitor'}

print(D)
#        {'emp1': {'name': 'Bob', 'job': 'Mgr'},
#         'emp2': {'name': 'Kim', 'job': 'Dev'},
#         'emp3': {'name': 'Sam', 'job': 'Dev'},
#         'emp4': {'name': 'Max', 'job': 'Janitor'}}

Merge Two Nested Dictionaries

In [ ]:
D1 = {'emp1': {'name': 'Bob', 'job': 'Mgr'},
      'emp2': {'name': 'Kim', 'job': 'Dev'}}

D2 = {'emp2': {'name': 'Sam', 'job': 'Dev'},
      'emp3': {'name': 'Max', 'job': 'Janitor'}}

D1.update(D2)

print(D1)
#        {'emp1': {'name': 'Bob', 'job': 'Mgr'},
#         'emp2': {'name': 'Sam', 'job': 'Dev'},
#         'emp3': {'name': 'Max', 'job': 'Janitor'}}

Remove Nested Dictionary Items

In [ ]:
D = {'emp1': {'name': 'Bob', 'job': 'Mgr'},
     'emp2': {'name': 'Kim', 'job': 'Dev'},
     'emp3': {'name': 'Sam', 'job': 'Dev'}}

x = D.pop('emp3')

print(D)
#      {'emp1': {'name': 'Bob', 'job': 'Mgr'},
#       'emp2': {'name': 'Kim', 'job': 'Dev'}}

# get removed value
print(x)
#      {'name': 'Sam', 'job': 'Dev'}

D = {'emp1': {'name': 'Bob', 'job': 'Mgr'},
     'emp2': {'name': 'Kim', 'job': 'Dev'},
     'emp3': {'name': 'Sam', 'job': 'Dev'}}

del D['emp3']

print(D)
#        {'emp1': {'name': 'Bob', 'job': 'Mgr'},
#         'emp2': {'name': 'Kim', 'job': 'Dev'}}

Remove Last Inserted Item

In [ ]:
D = {'emp1': {'name': 'Bob', 'job': 'Mgr'},
     'emp2': {'name': 'Kim', 'job': 'Dev'},
     'emp3': {'name': 'Sam', 'job': 'Dev'}}

x = D.popitem()

print(D)
#        {'emp1': {'name': 'Bob', 'job': 'Mgr'},
#         'emp2': {'name': 'Kim', 'job': 'Dev'}}

# get removed pair
print(x)
#        ('emp3', {'name': 'Sam', 'job': 'Dev'})

Iterate Through a Nested Dictionary

In [ ]:
D = {'emp1': {'name': 'Bob', 'job': 'Mgr'},
     'emp2': {'name': 'Kim', 'job': 'Dev'},
     'emp3': {'name': 'Sam', 'job': 'Dev'}}

for id, info in D.items():
    print("\nEmployee ID:", id)
    for key in info:
        print(key + ':', info[key])

# Prints Employee ID: emp1
#        name: Bob
#        job: Mgr

#        Employee ID: emp2
#        name: Kim
#        job: Dev

#        Employee ID: emp3
#        name: Sam
#        job: Dev

Dictionary Comprehension

In [ ]:
"""
D = {}
D[0] = 0
D[1] = 1
D[2] = 4
D[3] = 9
D[4] = 16
print(D)
# Prints {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

D = {}
for x in range(5):
    D[x] = x**2

print(D)
# Prints {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
"""

D = {x: x**2 for x in range(5)}
print(D)  # {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

D = {c: c * 3 for c in 'RED'}
print(D)  # {'R': 'RRR', 'E': 'EEE', 'D': 'DDD'}

L = ['ReD', 'GrEeN', 'BlUe']
D = {c.lower(): c.upper() for c in L}
print(D)  # {'blue': 'BLUE', 'green': 'GREEN', 'red': 'RED'}

Extracting a Subset of a Dictionary

In [ ]:
D = {0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E', 5: 'F'}
selectedKeys = [0, 2, 5]
X = {k: D[k] for k in selectedKeys}
print(X)  # {0: 'A', 2: 'C', 5: 'F'}

Filter Dictionary Contents

In [ ]:
D = {0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E', 5: 'F'}
removeKeys = [0, 2, 5]
X = {k: D[k] for k in D.keys() - removeKeys}
print(X)  # {1: 'B', 3: 'D', 4: 'E'}

Invert Mapping / Reverse lookup

In [ ]:
D = {0: 'red', 1: 'green', 2: 'blue'}
R = {v: k for k,v in D.items()}
print(R)  # {'red': 0, 'green': 1, 'blue': 2}

Dictionary Comprehension with Enumerate

In [ ]:
L = ['red', 'green', 'blue']
D = {k:v for k,v in enumerate(L)}
print(D)  # {0: 'red', 1: 'green', 2: 'blue'}

Initialize Dictionary with Comprehension

In [ ]:
keys = ['red', 'green', 'blue']

# using dict comprehension
D = {k: 0 for k in keys}
print(D)  # {'red': 0, 'green': 0, 'blue': 0}

# equivalent to using fromkeys() method
D = dict.fromkeys(keys, 0)
print(D)  # {'red': 0, 'green': 0, 'blue': 0}

keys = ['name', 'age', 'job']
values = ['Bob', 25, 'Dev']

# using dict comprehension
D = {k: v for (k, v) in zip(keys, values)}
print(D)  # {'name': 'Bob', 'age': 25, 'job': 'Dev'}

# equivalent to using dict() on zipped keys/values
D = dict(zip(keys, values))
print(D)  # {'name': 'Bob', 'age': 25, 'job': 'Dev'}

Dictionary Comprehension with if Clause

In [ ]:
D = {x: x**2 for x in range(6) if x % 2 == 0}

print(D)  # {0: 0, 2: 4, 4: 16}

Nested Dictionary Comprehension

In [ ]:
D = {(k,v): k+v for k in range(2) for v in range(2)}
print(D)  # {(0, 1): 1, (1, 0): 1, (0, 0): 0, (1, 1): 2}

# is equivalent to
D = {}
for k in range(2):
    for v in range(2):
        D[(k,v)] = k+v
print(D)  # {(0, 1): 1, (1, 0): 1, (0, 0): 0, (1, 1): 2}

dictionary methods

In [ ]:
"""
Method	      Description
clear()	      Removes all items from the dictionary
copy()	      Returns a shallow copy of the dictionary
fromkeys()	  Creates a new dictionary with the specified keys and values
get()	        Returns the value of the specified key
items()	      Returns a list of key:value pair
keys()	      Returns a list of all keys from dictionary
pop()	        Removes and returns single dictionary item with specified key.
popitem()	    Removes and returns last inserted key:value pair from the dictionary.
setdefault()	Returns the value of the specified key, if present. Else, inserts the key with a specified value.
update()	    Updates the dictionary with the specified key:value pairs
values()	    Returns a list of all values from dictionary
"""

clear() method to remove all items from the dictionary. This method does not return anything; it modifies the dictionary in place.

In [ ]:
D = {'name': 'Bob', 'age': 25}
D.clear()
print(D)  # {}

clear() vs Assigning Empty Dictionary

In [ ]:
# old_Dict = {} does not empty the dictionary in-place, it just overwrites the variable with a different dictionary which happens to be empty.
# If anyone else like new_Dict had a reference to the original dictionary,
old_Dict = {'name': 'Bob', 'age': 25}
new_Dict = old_Dict
old_Dict = {}
print(old_Dict) # {}
print(new_Dict) # {'age': 25, 'name': 'xx'}

# On the contrary, clear() method empties the dictionary in-place. So, all the references are cleared as well.
old_Dict = {'name': 'Bob', 'age': 25}
new_Dict = old_Dict
old_Dict.clear()
print(old_Dict) # {}
print(new_Dict) # {}

pop() method removes it and returns its value. You can also specify the default parameter that will be returned if the specified key is not found.

In [ ]:
D = {'name': 'Bob', 'age': 25}
v = D.pop('age')
print(v)  # 25

D = {'name': 'Bob', 'age': 25}
D.pop('job')  # Triggers KeyError: 'job'

# default paramter
D.pop('job', None)

copy() method returns the Shallow copy of the specified dictionary.

In [ ]:
old_Dict = {'name': 'Bob', 'age': 25}
new_Dict = old_Dict.copy()
new_Dict['name'] = 'xx'
print(old_Dict) # {'age': 25, 'name': 'Bob'}
print(new_Dict) # {'age': 25, 'name': 'xx'}

# Equivalent Method
D = {'name': 'Bob', 'age': 25}
X = {k:v for k,v in D.items()}
print(X)  # {'age': 25, 'name': 'Bob'}

popitem() method removes and returns the last inserted key:value pair from the dictionary. Pairs are returned in Last In First Out (LIFO) order.

In [ ]:
D = {'name': 'Bob', 'age': 25}
v = D.popitem()
print(v)  # ('age', 25)

# popitem() on Empty Dictionary Triggers KeyError: 'popitem(): dictionary is empty'
# solution
D = {}
if D:
    D.popitem()

fromkeys() method creates a new dictionary with default value for all specified keys.

In [ ]:
D = dict.fromkeys(['Bob', 'Sam'], 'Developer')
print(D)  # {'Bob': 'Developer', 'Sam': 'Developer'}

D = dict.fromkeys(['Bob', 'Sam'])
print(D)  # {'Bob': None, 'Sam': None}

# alternatives
L = ['Bob', 'Sam']
D = {key:'Developer' for key in L}
print(D)  # {'Bob': 'Developer', 'Sam': 'Developer'}

L = ['Bob', 'Sam']
D = {key:None for key in L}
print(D)  # {'Bob': None, 'Sam': None}

setdefault() method returns the value for key if key is in the dictionary. If not, it inserts key with a value of default and returns default.

In [ ]:
D = {'name': 'Bob', 'age': 25}
v = D.setdefault('job', 'Dev')
print(D)  # {'job': 'Dev', 'age': 25, 'name': 'Bob'}
print(v)  # Dev

# without default specified
D = {'name': 'Bob', 'age': 25}
v = D.setdefault('name')
print(v)  # Bob

# with default specified
D = {'name': 'Bob', 'age': 25}
v = D.setdefault('name', 'Max')
print(v)  # Bob

D = {'name': 'Bob', 'age': 25}
v = D.setdefault('job')
print(D)  # {'job': None, 'age': 25, 'name': 'Bob'}
print(v)  # None

get() method returns the value for key if key is in the dictionary.

You can also specify the default parameter that will be returned if the specified key is not found. If default is not specified, it returns None. Therefore, this method never raises a KeyError.

In [ ]:
D = {'name': 'Bob', 'age': 25}
print(D.get('name'))  # Bob

D = {'name': 'Bob', 'age': 25}
print(D.get('job')) # None

D = {'name': 'Bob', 'age': 25, 'job': 'Manager'}
print(D.get('job', 'Developer'))  # Manager

D = {'name': 'Bob', 'age': 25}
print(D.get('job','Developer')) # Developer

update() method updates the dictionary with the key:value pairs from element.

If the key is already present in the dictionary, value gets updated.
If the key is not present in the dictionary, a new key:value pair is added to the dictionary.

In [ ]:
# genrally used to merge two dictionaries
D1 = {'name': 'Bob'}
D2 = {'job': 'Dev', 'age': 25}
D1.update(D2)
print(D1) # {'job': 'Dev', 'age': 25, 'name': 'Bob'}

D1 = {'name': 'Bob', 'age': 25}
D2 = {'job': 'Dev', 'age': 30}
D1.update(D2)
print(D1) # {'job': 'Dev', 'age': 30, 'name': 'Bob'}

# passing different values
D = {'name': 'Bob'}
D.update({'job': 'Dev', 'age': 25})
print(D)  # {'job': 'Dev', 'age': 25, 'name': 'Bob'}

D = {'name': 'Bob'}
D.update([('job', 'Dev'), ('age', 25)])
print(D)  # {'age': 25, 'job': 'Dev', 'name': 'Bob'}

D = {'name': 'Bob'}
D.update([['job', 'Dev'], ['age', 25]])
print(D)  # {'age': 25, 'job': 'Dev', 'name': 'Bob'}

D = {'name': 'Bob'}
D.update(job = 'Dev', age = 25)
print(D)  # {'job': 'Dev', 'age': 25, 'name': 'Bob'}

items() method returns a list of tuples containing the key:value pairs of the dictionary

In [ ]:
D = {'name': 'Bob', 'age': 25}
L = D.items()
print(L)  # dict_items([('age', 25), ('name', 'Bob')])

D = {'name': 'Bob', 'age': 25}
for x in D.items():
    print(x)
# ('age', 25)
# ('name', 'Bob')

# The object returned by items() is a view object. It provides a dynamic view on the dictionary’s entries,
# which means that when the dictionary changes, the view reflects these changes.
D = {'name': 'Bob', 'age': 25}
L = D.items()
D['name'] = 'xx'
print(L)  # dict_items([('age', 25), ('name', 'xx')]) # L reflects changes done to dict D

values() method returns a list of values from a dictionary.

In [ ]:
D = {'name': 'Bob', 'age': 25}
L = D.values()
print(L)  # dict_values([25, 'Bob'])

D = {'name': 'Bob', 'age': 25}
for x in D.values():
    print(x)  # 25 Bob

# The object returned by items() is a view object. It provides a dynamic view on the dictionary’s entries,
# which means that when the dictionary changes, the view reflects these changes.
D = {'name': 'Bob', 'age': 25}
L = D.values()
D['name'] = 'xx'
print(L)  # dict_values([25, 'xx']) # L reflects changes done to dict D

keys() method returns a list of keys from a dictionary.

In [ ]:
D = {'name': 'Bob', 'age': 25}
L = D.keys()
print(L)  # dict_keys(['age', 'name'])

D = {'name': 'Bob', 'age': 25}
for x in D.keys():
    print(x)  # age name

# The object returned by items() is a view object. It provides a dynamic view on the dictionary’s entries,
# which means that when the dictionary changes, the view reflects these changes.
D = {'name': 'Bob', 'age': 25}
L = D.keys()
D['job'] = 'Developer'
print(L)  # dict_keys(['job', 'age', 'name']) # L reflects changes done to dict D

Built-in functions with dictionary

In [ ]:
"""
Method	  Description
all()	    Returns True if all list items are true
any()	    Returns True if any list item is true
len()	    Returns the number of items in the list
sorted()	Returns a sorted list
"""

# Python Set

A Python set is an unordered list of immutable elements. Elements in a set are unique. Elements in a set cannot be changed. For example, they can be numbers, strings, and tuples, but cannot be lists or dictionaries.

In [ ]:
empty_set = {}
empty_set = set()

skills = set()
if not skills:
    print('Empty sets are falsy')

S = {1, 'abc', 1.23, (3+4j), True}

S = {'red', 'green', 'blue', 'red'}
print(S)  # {'blue', 'green', 'red'}

S = {[1, 2], {'a':1, 'b':2}}  # Triggers TypeError: unhashable type: 'list'

set() constructor

In [ ]:
skills = set(['Problem solving','Critical Thinking'])
print(skills) # {'Critical Thinking', 'Problem solving'}

characters = set('letter')
print(characters) # {'r', 'l', 't', 'e'}

len(characters)  # 4

# Set of items in an iterable
S = set('abc')
print(S)
# Prints {'a', 'b', 'c'}

# Set of successive integers
S = set(range(0, 4))
print(S)
# Prints {0, 1, 2, 3}

# Convert list into set
S = set([1, 2, 3])
print(S)
# Prints {1, 2, 3}

set comprehension

In [ ]:
tags = {'Django', 'Pandas', 'Numpy'}
lowercase_tags = set(map(lambda tag: tag.lower(), tags))
print(lowercase_tags) # {'django', 'pandas', 'numpy'}

tags = {'Django', 'Pandas', 'Numpy'}
new_tags = {tag.lower() for tag in tags if tag != 'Numpy'}
print(new_tags) # {'django', 'pandas'}

Set methods

In [ ]:
"""
Method	                      Description
add()                         Add item to set
clear()                       Remove all items from the set.
copy()                        Returns the Shallow copy of the specified set.
union()	                      Return a new set containing the union of two or more sets
update()	                    Modify this set with the union of this set and other sets
intersection()	              Returns a new set which is the intersection of two or more sets
intersection_update()	        Removes the items from this set that are not present in other sets
difference()	                Returns a new set containing the difference between two or more sets
difference_update()	          Removes the items from this set that are also included in another set
symmetric_difference()	      Returns a new set with the symmetric differences of two or more sets
symmetric_difference_update()	Modify this set with the symmetric difference of this set and other set
isdisjoint()	                Determines whether or not two sets have any elements in common
issubset()	                  Determines whether one set is a subset of the other
issuperset()	                Determines whether one set is a superset of the other
"""

add() method adds a single item to a set. This method does not return anything; it updates the set in place.

In [ ]:
S = {'red', 'green', 'blue'}
S.add('yellow')
print(S)  # {'blue', 'green', 'yellow', 'red'}

S = {'red', 'green', 'blue'}
S.add('red')
print(S)  # {'blue', 'green', 'red'}

S = {'red', 'green', 'blue'}
S.add((1, 2))
print(S)  # {'blue', (1, 2), 'green', 'red'}

S = {'red', 'green', 'blue'}
S.add([1, 2]) # Triggers TypeError: unhashable type: 'list'

update() add multiple items to a set.

In [ ]:
S = {'red', 'green', 'blue'}
S.update(['yellow', 'orange'])
print(S)  # {'blue', 'orange', 'green', 'yellow', 'red'}

clear() method to remove all items from the set.

In [ ]:
S = {'red', 'green', 'blue'}
S.clear()
print(S)  # set()

copy() method returns the Shallow copy of the specified set.

In [ ]:
S = {'red', 'green', 'blue'}
x = S.copy()
print(x)  # {'blue', 'green', 'red'}

copy() vs assignment

In [ ]:
old_Set = {'red', 'green', 'blue'}
new_Set = old_Set.copy()
new_Set.remove('red')
print(old_Set)  # {'blue', 'green', 'red'}
print(new_Set)  # {'blue', 'green'}

difference() method returns a new set of items that are in the original set but not in any of the specified sets.

In [ ]:
A = {'red', 'green', 'blue'}
B = {'yellow', 'red', 'orange'}
print(A.difference(B))  # {'blue', 'green'}

# alternative
A = {'red', 'green', 'blue'}
B = {'yellow', 'red', 'orange'}
print(A.difference(B))  # {'blue', 'green'}
print(A - B)  # {'blue', 'green'}

# Difference between Multiple Sets
A = {'red', 'green', 'blue'}
B = {'yellow', 'orange', 'red'}
C = {'blue', 'red', 'black'}
print(A.difference(B,C))  # {'green'}
print(A - B - C)  # {'green'}

difference_update() method updates the set by removing items found in specified sets.

In [ ]:
# Remove items from A found in B
A = {'red', 'green', 'blue'}
B = {'yellow', 'red', 'orange'}
A.difference_update(B)
print(A)  # {'blue', 'green'}

# alternative
A = {'red', 'green', 'blue'}
B = {'yellow', 'red', 'orange'}
A -= B
print(A)  # {'blue', 'green'}

# Method with Multiple Sets
A = {'red', 'green', 'blue'}
B = {'yellow', 'orange', 'red'}
C = {'blue', 'red', 'black'}
A.difference_update(B,C)
print(A)  # {'green'}
A -= B | C
print(A)  # {'green'}

discard() method removes a specified item from the set.

In [ ]:
S = {'red', 'green', 'blue'}
S.discard('red')
print(S)  # {'blue', 'green'}

S = {'red', 'green', 'blue'}
S.discard('yellow')
print(S)  # {'blue', 'green', 'red'}

# discard() vs remove()
# Both methods work exactly the same. The only difference is that, the remove() method raises KeyError, if specified item doesn’t exist in a set.

intersection() method returns a new set of items that are common to all the specified sets.

In [ ]:
A = {'red', 'green', 'blue'}
B = {'yellow', 'red', 'orange'}
print(A.intersection(B))  # {'red'}

# alternate
A = {'red', 'green', 'blue'}
B = {'yellow', 'red', 'orange'}
print(A.intersection(B))  # {'red'}
print(A & B)  # {'red'}

# intersection of multiple sets
A = {'red', 'green', 'blue'}
B = {'yellow', 'orange', 'red'}
C = {'blue', 'red', 'black'}
print(A.intersection(B,C))  # {'red'}
print(A & B & C)  # {'red'}

intersection_update() method updates the set by removing the items that are not common to all the specified sets.

In [ ]:
A = {'red', 'green', 'blue'}
B = {'yellow', 'red', 'orange'}
A.intersection_update(B)
print(A)  # {'red'}

# alternate
A = {'red', 'green', 'blue'}
B = {'yellow', 'red', 'orange'}
A &= B
print(A)  # {'red'}

# multiple sets
A = {'red', 'green', 'blue'}
B = {'yellow', 'orange', 'red'}
C = {'blue', 'red', 'black'}
A.intersection_update(B,C)
print(A)  # {'red'}
A &= B & C
print(A)  # {'red'}

isdisjoint() method returns True if two sets have no items in common, otherwise FALSE.

In [ ]:
A = {'green', 'blue', 'purple'}
B = {'yellow', 'red', 'orange'}
print(A.isdisjoint(B))  # True

A = {'red', 'green', 'blue'}
B = {'yellow', 'red', 'orange'}
print(A.isdisjoint(B))  # False

issubset() method returns True if all items in the set are present in the specified set, otherwise FALSE.

In [ ]:
A = {'yellow', 'red'}
B = {'red', 'green', 'blue', 'yellow'}
print(A.issubset(B))  # True

# alternative
A = {'yellow', 'red'}
B = {'red', 'green', 'blue', 'yellow'}
print(A <= B) # True

# find proper subset
# Check if A is a proper subset of B
A = {'yellow', 'red'}
B = {'red', 'green', 'blue', 'yellow'}
print(A < B)  # True

# Check if A is a proper subset of B
A = {'yellow', 'red'}
B = {'yellow', 'red'}
print(A < B)  # False

issuperset() method returns True if all items in the specified set are present in the original set, otherwise FALSE.

In [ ]:
A = {'red', 'green', 'blue', 'yellow'}
B = {'yellow', 'red'}
print(A.issuperset(B))  # True

# alternate
A = {'red', 'green', 'blue', 'yellow'}
B = {'yellow', 'red'}
print(A >= B) # True

# find proper superset
# Check if A is a proper superset of B
A = {'red', 'green', 'blue', 'yellow'}
B = {'yellow', 'red'}
print(A > B)  # True

# Check if A is a proper superset of B
A = {'yellow', 'red'}
B = {'yellow', 'red'}
print(A > B)  # False

pop() method removes random item from a set and returns it. If the set is empty, the method raises KeyError.

In [ ]:
S = {'red', 'green', 'blue'}
S.pop()
print(S)  # {'green', 'red'}

S = {'red', 'green', 'blue'}
x = S.pop()
print(x)  # blue

S = set()
S.pop() # Triggers KeyError: 'pop from an empty set'

remove() method removes a specified item from the set.

In [ ]:
S = {'red', 'green', 'blue'}
S.remove('red')
print(S)  # {'blue', 'green'}

S = {'red', 'green', 'blue'}
S.remove('yellow')
print(S)  # Triggers KeyError: 'yellow'

remove() vs discard()
Both methods work exactly the same. The only difference is that the discard() method doesn’t raise any error if specified item doesn’t exist in a set.

In [ ]:
S = {'red', 'green', 'blue'}
S.discard('yellow')
print(S)  # {'blue', 'green', 'red'}

symmetric_difference() method returns a new set containing all items from both the sets, except common items.

In [ ]:
A = {'red', 'green', 'blue'}
B = {'yellow', 'red', 'orange'}
print(A.symmetric_difference(B))  # {'orange', 'blue', 'green', 'yellow'}

# alternate
A = {'red', 'green', 'blue'}
B = {'yellow', 'red', 'orange'}
print(A.symmetric_difference(B))  # {'orange', 'blue', 'green', 'yellow'}
print(A ^ B)  # {'orange', 'blue', 'green', 'yellow'}

# multiple sets
A = {'red', 'green', 'blue'}
B = {'yellow', 'orange'}
C = {'blue', 'red', 'black'}
print(A ^ B ^ C)  # {'orange', 'black', 'green', 'yellow'}

symmetric_difference_update() method updates the set by keeping only elements found in either set, but not in both.

In [ ]:
A = {'red', 'green', 'blue'}
B = {'yellow', 'red', 'orange'}
A.symmetric_difference_update(B)
print(A)  # {'blue', 'orange', 'green', 'yellow'}

# alternate
A = {'red', 'green', 'blue'}
B = {'yellow', 'red', 'orange'}
A ^= B
print(A)  # {'blue', 'orange', 'green', 'yellow'}

symmetric_difference_update() method updates the set by keeping only elements found in either set, but not in both.

In [ ]:
A = {'red', 'green', 'blue'}
B = {'yellow', 'red', 'orange'}
A.symmetric_difference_update(B)
print(A)  # {'blue', 'orange', 'green', 'yellow'}

# alternate
A = {'red', 'green', 'blue'}
B = {'yellow', 'red', 'orange'}
A ^= B
print(A)  # {'blue', 'orange', 'green', 'yellow'}

union() method returns a new set containing all items from all the specified sets, with no duplicates.

In [ ]:
A = {'red', 'green', 'blue'}
B = {'yellow', 'red', 'orange'}
print(A.union(B)) # {'blue', 'green', 'yellow', 'orange', 'red'}

# alternate
A = {'red', 'green', 'blue'}
B = {'yellow', 'red', 'orange'}
print(A.union(B)) # {'blue', 'green', 'yellow', 'orange', 'red'}
print(A | B)  # {'blue', 'green', 'yellow', 'orange', 'red'}

# multiple sets
A = {'red', 'green', 'blue'}
B = {'yellow', 'orange', 'red'}
C = {'blue', 'red', 'black'}
print(A.union(B,C)) # {'blue', 'green', 'yellow', 'orange', 'black', 'red'}
print(A | B | C)  # {'blue', 'green', 'yellow', 'orange', 'black', 'red'}

update() method updates the original set by adding items from all the specified sets, with no duplicates.

In [ ]:
A = {'red', 'green', 'blue'}
B = {'yellow', 'red', 'orange'}
A.update(B)
print(A)  # {'blue', 'green', 'yellow', 'orange', 'red'}

# alternate
A = {'red', 'green', 'blue'}
B = {'yellow', 'red', 'orange'}
A |= B
print(A)  # {'blue', 'green', 'yellow', 'orange', 'red'}

# multiple sets
A = {'red', 'green', 'blue'}
B = {'yellow', 'orange', 'red'}
C = {'blue', 'red', 'black'}
A.update(B,C)
print(A)  # {'blue', 'green', 'yellow', 'orange', 'black', 'red'}
A |= B | C
print(A)  # {'blue', 'green', 'yellow', 'orange', 'black', 'red'}

Built-in functions with Set

In [ ]:
"""
Method	    Description
all()	      Returns True if all items in a set are true
any()	      Returns True if any item in a set is true
enumerate()	Takes a set and returns an enumerate object
len()	      Returns the number of items in the set
max()	      Returns the largest item of the set
min()	      Returns the smallest item of the set
sorted()	  Returns a sorted set
sum()	      Sums items of the set
"""

# Python Try Except

Use Python try...except statement to handle exceptions gracefully.
Use specific exceptions in the except block as much as possible.
Use the except Exception statement to catch other exceptions.

In [ ]:
try:
    # get input net sales
    print('Enter the net sales for')

    previous = float(input('- Prior period:'))
    current = float(input('- Current period:'))

    # calculate the change in percentage
    change = (current - previous) * 100 / previous

    # show the result
    if change > 0:
        result = f'Sales increase {abs(change)}%'
    else:
        result = f'Sales decrease {abs(change)}%'

    print(result)
except ValueError:
    print('Error! Please enter a number for net sales.')

In [ ]:
try:
    # get input net sales
    print('Enter the net sales for')

    previous = float(input('- Prior period:'))
    current = float(input('- Current period:'))

    # calculate the change in percentage
    change = (current - previous) * 100 / previous

    # show the result
    if change > 0:
        result = f'Sales increase {abs(change)}%'
    else:
        result = f'Sales decrease {abs(change)}%'

    print(result)
except ValueError:
    print('Error! Please enter a number for net sales.')
except ZeroDivisionError:
    print('Error! The prior net sales cannot be zero.')
except Exception as error:
    print(error)

Use Python try...catch...finally statement to execute a code block whether an exception occurs or not.
Use the finally clause to clean up the resources such as closing files.

In [ ]:
a = 10
b = 0

try:
    c = a / b
    print(c)
except ZeroDivisionError as error:
    print(error)
finally:
    print('Finishing up.')

Use the Python try...except...else statement provides you with a way to control the flow of the program in case of exceptions.
The else clause executes if no exception occurs in the try clause.
If so, the else clause executes after the try clause and before the finally clause.

In [ ]:
def main():
    try:
        height = float(input('Enter your height (meters):'))
        weight = float(input('Enter your weight (kilograms):'))

    except ValueError as error:
        print('Error! please enter a valid number.')
    else:
        bmi = round(calculate_bmi(height, weight), 1)
        evaluation = evaluate_bmi(bmi)

        print(f'Your body mass index is {bmi}')
        print(f'This is considered {evaluation}!')

all together

In [ ]:
fruits = {
    'apple': 10,
    'orange': 20,
    'banana': 30
}

key = None
while True:
    try:
        key = input('Enter a key to lookup:')
        fruit = fruits[key.lower()]
    except KeyError:
        print(f'Error! {key} does not exist.')
    except KeyboardInterrupt:
        break
    else:
        print(fruit)
    finally:
        print('Press Ctrl-C to exit.')

# Python Module Package

A module is a piece of software that has a specific functionality. A Python module is a file that contains Python code. For example, when building a shopping cart application, you can have one module for calculating prices and another module for managing items in the cart. Each module is a separate Python source code file.

In [ ]:
# ------------------------------- writing module
# pricing.py
def get_net_price(price, tax_rate, discount=0):
    return price * (1 + tax_rate) * (1-discount)
def get_tax(price, tax_rate=0):
    return price * tax_rate

# ------------------------------- importing module
import pricing;
net_price = pricing.get_net_price(
    price=100,
    tax_rate=0.01
)

# ------------------------------- importing module as new name
import pricing as selling_price
net_price = selling_price.get_net_price(
    price=100,
    tax_rate=0.01
)

# ------------------------------- reference object
# If you want to reference objects in a module without prefixing the module name, you can explicitly import them
from pricing import get_net_price;
net_price = get_net_price(price=100, tax_rate=0.01)

# ------------------------------- rename imported object
from pricing import get_net_price as calculate_net_price

# ------------------------------- import all objects
from pricing import *

# ------------------------------- importing package
import package.module
# And to access an object from a module that belongs to a package, you use the dot notation:
package.module.function

# main.py
import sales.order
import sales.delivery
import sales.billing

sales.order.create_sales_order()
sales.delivery.create_delivery()
sales.billing.create_billing()

# main.py
from sales.order import create_sales_order
from sales.delivery import create_delivery
from sales.billing import create_billing

create_sales_order()
create_delivery()
create_billing()

# main.py
from sales.order import create_sales_order as create_order
from sales.delivery import create_delivery as start_delivery
from sales.billing import create_billing as issue_billing

create_order()
start_delivery()
issue_billing()

# ------------------------------- __name__
# Since the __name__ variable has double underscores at both sides, it’s called dunder name. The dunder stands for
# double underscores

# The __name__ is a special variable in Python. It’s special because Python assigns a different value to it depending
# on how its containing script executes.

# When you import a module, Python executes the file associated with the module.

# Often, you want to write a script that can be executed directly or imported as a module. The __name__ variable allows
# you to do that. ex - if __name__ == '__main__' run function else not in specific file. __main__ means file not imported
# as modules

# When you run the script directly, Python sets the __name__ variable to '__main__'.

# it is main entry point of python file.
# utility.py
print('from utility', __name__);

# caller.py
import utility;
print('from caller', __name__);

'''
python3 utility.py
print -> 'from utility', __main__

python3 caller.py
print -> 'from utility', utility
print -> 'from caller', __main__
'''

# ------------------------------- when you import a module it executes all the functions as we have main()
'''
utils.py ------------------
    def add():
        print('adding...')

    def sub():
        print('subtracting...')

    def main():
        add()
        sub()

main()

main.py ------------------
    from utils import add
    def f1():
        add()
        print('f1...')

    def f2():
        print('f2...')

    def main():
        f1()
        f2()

    main()

python3 main.py
result
    adding...
    subtracting...
    adding...
    f1...
    f2...

# to fix that issue
utils.py ------------------
    def add():
        print('adding...')

    def sub():
        print('subtracting...')

    def main():
        add()
        sub()

if (__name__ == '__main__'): (i.e if i'm running this file standalone, only that tim execute all functions of it)
    main()
'''

# Python *args and *kwargs

*args

In [ ]:
# When a function has a parameter preceded by an asterisk (*), it can accept a variable number of arguments.
def add(*args):
    print(type(args)) # <class 'tuple'>
    print(args) # ()
add()

def add(*args):
    print(type(args)) # <class 'tuple'>
    print(args) # (1, 2, 3)
add(1,2,3)

def point(x, y):
    return f"{x}{y}";
a = (0, 0);
print(point(a)) # throws error - TypeError: point() missing 1 required positional argument: 'y'

def point(x, y):
    return f'({x},{y})'
a = (0, 0)
print(point(*a))

*kwargs

In [ ]:
# When a function has the **kwargs parameter, it can accept a variable number of keyword arguments as a dictionary.
def connect(**kwargs):
    print(type(kwargs)) # <class 'dict'>
    print(kwargs) # {}

def fn(*args, **kwargs):
    print(args)     # (1, 2)
    print(kwargs)   # {'x': 10, 'y': 20}
fn(1, 2, x=10, y=20)

def connect(**kwargs):
    print(kwargs)
config = {
    'server': 'localhost',
    'port': 3306,
    'user': 'root',
    'password': 'Py1thon!Xt12'
}
connect(**config)
# {
#     'server': 'localhost',
#     'port': 3306,
#     'user': 'root',
#     'password': 'Py1thon!Xt12'
# }

# Python OOPs

Object - An object is a container that contains data and functionality. An object is container that contains state and behavior.

The data represents the object at a particular moment in time. Therefore, the data of an object is called the state. Python uses attributes to model the state of an object.

The functionality represents the behaviors of an object. Python uses functions to model the behaviors. When a function is associated with an object, it becomes a method of the object.

In other words, an object is a container that contains the state and methods.

Before creating objects, you define a class first. And from the class, you can create one or more objects. The objects of a class are also called instances of a class.

A class is also an object in Python. Everything in Python is an object, including classes. When you define a class using the class keyword, Python creates an object with the name the same as the class’s name.

In [ ]:
class HtmlDocument:
   pass

print(HtmlDocument.__name__)          # HtmlDocument
print(type(HtmlDocument))             # <class 'type'>
print(isinstance(HtmlDocument, type)) # True

Get the values of class variables

In [ ]:
class HtmlDocument:
    extension = 'html'
    version = '5'

print(HtmlDocument.extension) # html
print(HtmlDocument.version)   # 5

# If you access a class variable that doesn’t exist, you’ll get an AttributeError exception.
HtmlDocument.media_type # AttributeError: type object 'HtmlDocument' has no attribute 'media_type'

# Another way to get the value of a class variable is to use the getattr() function.
# The getattr() function accepts an object and a variable name. It returns the value of the class variable.
extension = getattr(HtmlDocument, 'extension')
version = getattr(HtmlDocument, 'version')
print(extension)  # html
print(version)    # 5

# If the class variable doesn’t exist, you’ll also get an AttributeError exception.
# To avoid the exception, you can specify a default value if the class variable doesn’t exist like this:
media_type = getattr(HtmlDocument, 'media_type', 'text/html')
print(media_type) # text/html

Set values for class variables

In [ ]:
HtmlDocument.version = 10
# or
setattr(HtmlDocument, 'version', 10)

# Since Python is a dynamic language, you can add a class variable to a class at runtime after you have created it.
HtmlDocument.media_type = 'text/html'
print(HtmlDocument.media_type)  # text/html
# or
setattr(HtmlDocument, media_type, 'text/html')
print(HtmlDocument.media_type)  # text/html

Delete class variables

In [ ]:
delattr(HtmlDocument, 'version')
# or
del HtmlDocument.version

Class variable storage - Python stores class variables in the __dict__ attribute. The __dict__ is a mapping proxy, which is a dictionary.

In [ ]:
from pprint import pprint

class HtmlDocument:
    extension = 'html'
    version = '5'

HtmlDocument.media_type = 'text/html'

pprint(HtmlDocument.__dict__)
# mappingproxy({'__dict__': <attribute '__dict__' of 'HtmlDocument' objects>,
#               '__doc__': None,
#               '__module__': '__main__',
#               '__weakref__': <attribute '__weakref__' of 'HtmlDocument' objects>,
#               'extension': 'html',
#               'media_type': 'text/html',
#               'version': '5'})

# Python does not allow you to change the __dict__ directly. For example, the following will result in an error:
HtmlDocument.__dict__['released'] = 2008  # TypeError: 'mappingproxy' object does not support item assignment

"""
However, you can use the setattr() function or dot notation to indirectly change the __dict__ attribute.
Also, the key of the __dict__ are strings that will help Python speeds up the variable lookup.

Although Python allows you to access class variables through the __dict__ dictionary, it’s not a good practice. Also, it won’t work in some situations. For example:
print(HtmlDocument.__dict__['type']) # BAD CODE
"""

Methods - By definition, a method is a function that is bound to an instance of a class.

The self parameter refers to the individual object itself. It is used to fetch or set attributes of the particular instance.

This parameter doesn’t have to be called self, you can call it whatever you want, but it is standard practice, and you should probably stick with it.

In [ ]:
class Request:
    def send():
        print('Sent')

# And you can call the send() function via the Request class like this:
Request.send() # Sent

print(Request.send) # <function Request.send at 0x00000276F9E00310>
print(type(Request.send)) # <class 'function'>

# The following creates a new instance of the Request class:
http_request = Request()
print(http_request.send)  # <bound method Request.send of <__main__.Request object at 0x00000104B6C3D580>>

# So the http_request.send is not a function like Request.send.
# The following checks if the Request.send is the same object as http_request.send
print(type(Request.send) is type(http_request.send))  # False

print(type(http_request.send))  # <class 'method'>
print(type(Request.send))       # <class 'function'>

# So when you define a function inside a class, it’s purely a function. However, when you access that function via an object, the function becomes a method.
# Therefore, a method is a function that is bound to an instance of a class.
# If you call the send() function via the http_request object, you’ll get a TypeError as follows:
http_request.send() # TypeError: send() takes 0 positional arguments but 1 was given

# Because the http_request.send is a method that is bound to the http_request object, Python always implicitly passes the object to the method as the first argument.
# The following redefines the Request class where the send function accepts a list of arguments:
class Request:
    def send(*args):
        print('Sent', args)
Request.send()  # Sent ()

# The send() function doesn’t receive any arguments.
# However, if you call the send() function from an instance of the Request class, the args is not empty:
http_request.send() # Sent (<__main__.Request object at 0x000001374AF4D580>,)

# The http_request object is the same as the one Python passes to the send() method as the first argument because they have the same memory address.
# In other words, you can access the instance of the class as the first argument inside the send() method:
print(hex(id(http_request)))  # 0x1ee3a74d580
http_request.send()           # Sent (<__main__.Request object at 0x000001EE3A74D580>,)

# For this reason, a method of an object always has the object as the first argument. By convention, it is called self.
# If you have worked with other programming languages such as Java or C#, the self is the same as the this object.
class Request:
    def send(self):
        print('Sent', self)

`__init__()` - When you create a new object of a class, Python automatically calls the `__init__()` method to initialize the object’s attributes.

Unlike regular methods, the `__init__()` method has two underscores (__) on each side. Therefore, the `__init__()` is often called dunder init. The name comes abbreviation of the double underscores init.

The double underscores at both sides of the `__init__()` method indicate that Python will use the method internally. In other words, you should not explicitly call this method.

Since Python will automatically call the `__init__()` method immediately after creating a new object, you can use the `__init__()` method to initialize the object’s attributes.

When you create an instance of the Person class, Python performs two things:

* First, create a new instance of the Person class by setting the object’s namespace such as `__dict__` attribute to empty ({}).
* Second, call the `__init__` method to initialize the attributes of the newly created object.
Note that the `__init__` method doesn’t create the object but only initializes the object’s attributes. Hence, the `__init__()` is not a constructor.

If the `__init__` has parameters other than the self, you need to pass the corresponding arguments when creating a new object like the example above. Otherwise, you’ll get an error.

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

if __name__ == '__main__':
    person = Person('John', 25)
    print(f"I'm {person.name}. I'm {person.age} years old.")

instance variables - In Python, class variables are bound to a class while instance variables are bound to a specific instance of a class. The instance variables are also called instance attributes.

In [ ]:
from pprint import pprint

class HtmlDocument:
    version = 5
    extension = 'html'

pprint(HtmlDocument.__dict__)
# mappingproxy({'__dict__': <attribute '__dict__' of 'HtmlDocument' objects>,
#               '__doc__': None,
#               '__module__': '__main__',
#               '__weakref__': <attribute '__weakref__' of 'HtmlDocument' objects>,
#               'extension': 'html',
#               'version': 5})
print(HtmlDocument.extension) # html
print(HtmlDocument.version)   # 5

# The HtmlDocument class has two class variables: extension and version. Python stores these two variables in the __dict__ attribute.
# When you access the class variables via the class, Python looks them up in the __dict__ of the class.

# The following creates a new instance of the HtmlDocument class:
home = HtmlDocument()

# The home is an instance of the HtmlDocument class. It has its own __dict__ attribute:
pprint(home.__dict__) # {}

# The home.__dict__ stores the instance variables of the home object like the HtmlDocument.__dict__ stores the class variables of the HtmlDocument class.
# Unlike the __dict__ attribute of a class, the type of the __dict__ attribute of an instance is a dictionary. For example:
type(HtmlDocument.__dict__) # <class 'mappingproxy'>
type(home.__dict__) # <class 'dict'>

Since a dictionary is mutable, you can mutate it e.g., adding a new element to the dictionary.

In [ ]:
print(home.extension)
print(home.version)

# In this case, Python looks up the variables extension and version in home.__dict__ first. If it doesn’t find them there, it’ll go up to the class and look up in the HtmlDocument.__dict__.
# However, if Python can find the variables in the __dict__ of the instance, it won’t look further in the __dict__ of the class.

home.version = 6
print(home.__dict__)  # {'version': 6}

# If you change the class variables, these changes also reflect in the instances of the class:
HtmlDocument.media_type = 'text/html'
print(home.media_type)  # text/html

Encapsulation

Encapsulation is one of the four fundamental concepts in object-oriented programming including abstraction, encapsulation, inheritance, and polymorphism.

Encapsulation is the packing of data and functions that work on that data within a single object. By doing so, you can hide the internal state of the object from the outside. This is known as information hiding.

A class is an example of encapsulation. A class bundles data and methods into a single unit. And a class provides the access to its attributes via methods.

The idea of information hiding is that if you have an attribute that isn’t visible to the outside, you can control the access to its value to make sure your object is always has a valid state

In [ ]:
class Counter:
    def __init__(self):
        self.current = 0

    def increment(self):
        self.current += 1

    def value(self):
        return self.current

    def reset(self):
        self.current = 0

counter = Counter()

counter.increment()
counter.increment()
counter.increment()

print(counter.value())  # 3

# It works perfectly fine but has one issue.
# From the outside of the Counter class, you still can access the current attribute and change it to whatever you want.
counter.current = -999
print(counter.value())  # -999

"""
Private attributes - can be only accessible from the methods of the class. In other words, they cannot be accessible from outside of the class.
Python doesn’t have a concept of private attributes. In other words, all attributes are accessible from the outside of a class.
By convention, you can define a private attribute by prefixing a single underscore (_):
"""
class Counter:
    def __init__(self):
        self._current = 0

    def increment(self):
        self._current += 1

    def value(self):
        return self._current

    def reset(self):
        self._current = 0

# Name mangling with double underscores
# If you prefix an attribute name with double underscores (__) like this: __attribute
# Python will automatically change the name of the __attribute to:  _class__attribute

# By doing this, you cannot access the __attribute directly from the outside of a class like: instance.__attribute
# However, you still can access it using the _class__attribute name:  instance._class__attribute
class Counter:
    def __init__(self):
        self.__current = 0

    def increment(self):
        self.__current += 1

    def value(self):
        return self.__current

    def reset(self):
        self.__current = 0

counter = Counter()
print(counter._Counter__current)

Class Attributes

The Circle class has two attributes pi and radius. It also has two methods that calculate the area and circumference of a circle.

Both pi and radius are called instance attributes. In other words, they belong to a specific instance of the Circle class. If you change the attributes of an instance, it won’t affect other instances.

Besides instance attributes, Python also supports class attributes. The class attributes don’t associate with any specific instance of the class. But they’re shared by all instances of the class.

If you’ve been programming in Java or C#, you’ll see that class attributes are similar to the static members, but not the same.

In [ ]:
# To define a class attribute, you place it outside of the __init__() method. For example, the following defines pi as a class attribute:
class Circle:
    # class attribute
    pi = 3.14159

    # initializer with instance attributes
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return self.pi * self.radius**2

    def circumference(self):
        return 2 * self.pi * self.radius

c = Circle(10)
print(c.pi)       # 3.14159
print(Circle.pi)  # 3.14159

How Python class attributes work

In [ ]:
"""
When you access an attribute via an instance of the class, Python searches for the attribute in the instance attribute list.
If the instance attribute list doesn’t have that attribute, Python continues looking up the attribute in the class attribute list.
Python returns the value of the attribute as long as it finds the attribute in the instance attribute list or class attribute list.

However, if you access an attribute, Python directly searches for the attribute in the class attribute list.
"""
class Test:
    x = 10

    def __init__(self):
        self.x = 20

test = Test()
print(test.x)  # 20
print(Test.x)  # 10

When to use Python class attributes

In [ ]:
"""
1) Storing class constants
Since a constant doesn’t change from instance to instance of a class, it’s handy to store it as a class attribute.
For example, the Circle class has the pi constant that is the same for all instances of the class. Therefore, it’s a good candidate for the class attributes.
"""

In [ ]:
"""
2) Tracking data across of all instances
The following adds the circle_list class attribute to the Circle class. When you create a new instance of the Circle class, the constructor adds the instance to the list:
"""
class Circle:
    circle_list = []
    pi = 3.14159

    def __init__(self, radius):
        self.radius = radius
        # add the instance to the circle list
        self.circle_list.append(self)

    def area(self):
        return self.pi * self.radius**2

    def circumference(self):
        return 2 * self.pi * self.radius

c1 = Circle(10)
c2 = Circle(20)

print(len(Circle.circle_list))  # 2

In [ ]:
"""
3) Defining default values
Sometimes, you want to set a default value for all instances of a class. In this case, you can use a class attribute.
The following example defines a Product class. All the instances of the Product class will have a default discount specified by the default_discount class attribute:
"""
class Product:
    default_discount = 0

    def __init__(self, price):
        self.price = price
        self.discount = Product.default_discount

    def set_discount(self, discount):
        self.discount = discount

    def net_price(self):
        return self.price * (1 - self.discount)

p1 = Product(100)
print(p1.net_price()) # 100

p2 = Product(200)
p2.set_discount(0.05)
print(p2.net_price()) # 190

Static Methods

So far, you have learned about instance methods that are bound to a specific instance. It means that instance methods can access and modify the state of the bound object.

Also, you learned about class methods that are bound to a class. The class methods can access and modify the class state.

Unlike instance methods, static methods aren’t bound to an object. In other words, static methods cannot access and modify an object state.

In addition, Python doesn’t implicitly pass the cls parameter (or the self parameter) to static methods. Therefore, static methods cannot access and modify the class’s state.

In practice, you use static methods to define utility methods or group functions that have some logical relationships in a class.

In [ ]:
"""
Class Methods
1. Python implicitly pass the cls argument to class methods.
2. Class methods can access and modify the class state.
3. Use @classmethod decorators to define class methods.

Static Methods
1. Python doesn’t implicitly pass the cls argument to static methods.
2. Static methods cannot access or modify the class state.
3. Use @staticmethod decorators to define static methods.
"""

class TemperatureConverter:
    KEVIN = 'K',
    FAHRENHEIT = 'F'
    CELSIUS = 'C'

    @staticmethod
    def celsius_to_fahrenheit(c):
        return 9*c/5 + 32

    @staticmethod
    def fahrenheit_to_celsius(f):
        return 5*(f-32)/9

    @staticmethod
    def celsius_to_kelvin(c):
        return c + 273.15

    @staticmethod
    def kelvin_to_celsius(k):
        return k - 273.15

    @staticmethod
    def fahrenheit_to_kelvin(f):
        return 5*(f+459.67)/9

    @staticmethod
    def kelvin_to_fahrenheit(k):
        return 9*k/5 - 459.67

    @staticmethod
    def format(value, unit):
        symbol = ''
        if unit == TemperatureConverter.FAHRENHEIT:
            symbol = '°F'
        elif unit == TemperatureConverter.CELSIUS:
            symbol = '°C'
        elif unit == TemperatureConverter.KEVIN:
            symbol = '°K'

        return f'{value}{symbol}'

f = TemperatureConverter.celsius_to_fahrenheit(35)
print(TemperatureConverter.format(f, TemperatureConverter.FAHRENHEIT))  # 95.0°F

Class Method - is not bound to specific instance, it's bound to class only. @classmethod change an instance method to a class mthod. However, class method cannot access instance attributes, but it can access class attributes using cls.

In [ ]:
class Person:
    counter = 0

    def __init__(self, name, age):
        self.name = name
        self.age = age
        Person.counter += 1

    # instance method
    def greet(self):
        return f"Hi, it's {self.name}."

    # static method
    @staticmethod
    def info():
        print('static method');

    # class method - the first argument of a class method is class itself i.e cls.
    @classmethod
    def create_anonymous(cls): # if you don't pass cls by defining @classmethod, it'll throw error
        print(cls)  # <class '__main__.Person'>
        return Person('Anonymous', 22)

anonymous = Person.create_anonymous()
print(anonymous.name)  # Anonymous
Person.info() # static method

Delete Attributes and Objects

In [ ]:
class Car:

    # class attribute
    wheels = 4

    # initializer / instance attributes
    def __init__(self, color, style):
        self.color = color
        self.style = style

    # method 1
    def showDescription(self):
        print("This car is a", self.color, self.style)

    # method 2
    def changeColor(self, color):
        self.color = color

c = Car('Black', 'Sedan')

# call method 1
c.showDescription() # Prints This car is a Black Sedan

# call method 2 and set color
c.changeColor('White')

c.showDescription() # Prints This car is a White Sedan

# -------------------- To delete any object attribute, use the del keyword.
del c.color

# -------------------- You can delete the object completely with del keyword.
del c

Special Methods

In [ ]:
# __str__
class Person:
    def __init__(self, first_name, last_name, age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age

person = Person('John', 'Doe', 25)
print(person) # <__main__.Person object at 0x0000023CA16D13A0>

# When you use the print() function to display the instance of the Person class, the print() function shows the memory address of that instance.
# Sometimes, it’s useful to have a string representation of an instance of a class. To customize the string representation of a class instance, the class needs to implement the __str__ magic method.
# Internally, Python will call the __str__ method automatically when an instance calls the str() method.
# Note that the print() function converts all non-keyword arguments to strings by passing them to the str() before displaying the string values.

class Person:
    def __init__(self, first_name, last_name, age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age

    def __str__(self):
        return f'Person({self.first_name},{self.last_name},{self.age})'

person = Person('John', 'Doe', 25)
print(person) # Person(John,Doe,25)

In [ ]:
# __repr__
# The __repr__ method returns the string representation of an object. Typically, the __repr__() returns a string that can be executed and yield the same value as the object.
# In other words, if you pass the returned string of the object_name.__repr__() method to the eval() function, you’ll get the same value as the object_name. Let’s take a look at an example.
# i.e it return a string representation of instance that can be used to recreate an object where __str()__ return human readable string representation of an instance.
class Person:
    def __init__(self, first_name, last_name, age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age

    def __repr__(self):
        return f'Person("{self.first_name}","{self.last_name}",{self.age})'

person = Person("John", "Doe", 25)
print(repr(person)) # Person("John","Doe",25)

# When a class doesn’t implement the __str__ method and you pass an instance of that class to the str(),
# Python returns the result of the __repr__ method because internally the __str__ method calls the __repr__ method:
class Person:
    def __init__(self, first_name, last_name, age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age

    def __repr__(self):
        return f'Person("{self.first_name}","{self.last_name}",{self.age})'

    def __str__(self):
        return f'({self.first_name},{self.last_name},{self.age})'

person = Person('John', 'Doe', 25)
# use str()
print(person)       # (John,Doe,25)

# use repr()
print(repr(person)) # Person("John","Doe",25)

In [ ]:
# __eq__
class Person:
    def __init__(self, first_name, last_name, age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age

john = Person('John', 'Doe', 25)
jane = Person('Jane', 'Doe', 25)

print(john is jane)  # False
print(john == jane) # False

# Since john and jane have the same age, you want them to be equal.
# In other words, you want the following expression to return True: john == jane

# To do it, you can implement the __eq__ dunder method in the Person class.
class Person:
    def __init__(self, first_name, last_name, age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age

    def __eq__(self, other):
        return self.age == other.age

john = Person('John', 'Doe', 25)
jane = Person('Jane', 'Doe', 25)
print(john == jane)  # True

john = Person('John', 'Doe', 25)
mary = Person('Mary', 'Doe', 27)
print(john == mary)  # False

john = Person('John', 'Doe', 25)
print(john == 20) # AttributeError: 'int' object has no attribute 'age'

# To fix this, you can modify the __eq__ method to check if the object is an instance of the Person class before accessing the age attribute.
# If the other object isn’t an instance of the Person class, the __eq__ method returns False, like this:
class Person:
    def __init__(self, first_name, last_name, age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age

    def __eq__(self, other):
        if isinstance(other, Person):
            return self.age == other.age
        return False

john = Person('John', 'Doe', 25)
print(john == 20)  # False

In [ ]:
# __hash__
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person('John', 22)
p2 = Person('Jane', 22)

print(hash(p1)) # 110373112736
print(hash(p2)) # 110373572343

# The hash() function accepts an object and returns the hash value as an integer.
# When you pass an object to the hash() function, Python will execute the __hash__ special method of the object.
# It means that when you pass the p1 object to the hash() function: hash(p1)
# Python will call the __hash__ method of the p1 object:  p1.__hash__()
# By default, __hash__ uses the id of objects and __eq__ uses the is operator for comparisons.

"""
By default, the __hash__ uses the object’s identity and the __eq__ returns True if two objects are the same. To override this default behavior, you can implement the __eq__ and __hash__.
If a class overrides the __eq__ method, the objects of the class become unhashable. This means that you won’t able to use the objects in a mapping type. For example, you will not able to use them as keys in a dictionary or elements in a set.
"""
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __eq__(self, other):
        return isinstance(other, Person) and self.age == other.age

members = {
    Person('John', 22),
    Person('Jane', 22)
} # TypeError: unhashable type: 'Person'

# Also, the Person’s object loses hashing because if you implement __eq__, the __hash__ is set to None. For example:
hash(Person('John', 22))  # TypeError: unhashable type: 'Person'

# solution
# To make the Person work well in data structures like dictionaries, the hash of the class should remain immutable.
# To do it, you can make the age attribute of the Person class a read-only property:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __eq__(self, other):
        return isinstance(other, Person) and self.age == other.age

    def __hash__(self):
        return hash(self.age)

In [ ]:
# __bool__
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

if __name__ == '__main__':
    person = Person('John', 25)
# In this example, we define the Person class, instantiate an object, and show its boolean value.
# As expected, the person object is True.

# To override this default behavior, you implement the __bool__ special method. The __bool__ method must return a boolean value, True or False.
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __bool__(self):
        if self.age < 18 or self.age > 65:
            return False
        return True

if __name__ == '__main__':
    person = Person('Jane', 16)
    print(bool(person))  # False

In [ ]:
# __len__
# If a custom class doesn’t have the __bool__ method, Python will look for the __len__() method. If the __len__ is zero, the object is False. Otherwise, it’s True.
# If a class doesn’t implement the __bool__ and __len__ methods, the objects of the class will evaluate to True.
class Payroll:
    def __init__(self, length):
        self.length = length

    def __len__(self):
        print('len was called...')
        return self.length

if __name__ == '__main__':
    payroll = Payroll(0)
    print(bool(payroll))  # False

    payroll.length = 10
    print(bool(payroll))  # True

In [ ]:
# __del__
# In Python, the garbage collector manages memory automatically. The garbage collector will destroy the objects that
# are not referenced.
# If an object implements the __del__ method, Python calls the __del__ method right before the garbage collector destroys
# the object.
# However, the garbage collector determines when to destroy the object. Therefore, it determines when the __del__ method
# will be called.
# The __del__ is sometimes referred to as a class finalizer. Note that __del__ is not the destructor because the garbage
# collector destroys the object, not the __del__ method.

# Python calls the __del__ method when all object references are gone. And you cannot control it in most cases.
# Therefore, you should not use the __del__ method to clean up the resources. It’s recommended to use the context manager.
# If the __del__ contains references to objects, the garbage collector will also destroy these objects when the __del__ is called.
# If the __del__ references the global objects, it may create unexpected behaviors.
# If an exception occurs inside the __del__ method, Python does not raise the exception but keeps it silent.
# Also, Python sends the exception message to the stderr. Therefore, the main program will be able to be aware of the exceptions
# during the finalization.
# In practice, you’ll rarely use the __del__ method.

Inheritance

In [ ]:
class Person:
    def __init__(self, name):
        self.name = name

    def greet(self):
        return f"Hi, it's {self.name}"

class Employee(Person):
    def __init__(self, name, job_title):
        self.name = name
        self.job_title = job_title

    def greet(self):
        return f"Hi, it's {self.name}"

employee = Employee('John', 'Python Developer')
print(employee.greet()) # Hi, it's John

person = Person('Jane')
print(type(person)) # <class '__main__.Person'>

employee = Employee('John', 'Python Developer')
print(type(employee)) # <class '__main__.Employee'>

person = Person('Jane')
print(isinstance(person, Person))  # True

employee = Employee('John', 'Python Developer')
print(isinstance(employee, Person))  # True
print(isinstance(employee, Employee))  # True
print(isinstance(person, Employee))  # False

print(issubclass(Employee, Person)) # True

# Note that when you define a class that doesn’t inherit from any class, it’ll implicitly inherit from the built-in object class.
print(issubclass(Person, object)) # True

overridding method

In [ ]:
class Employee:
    def __init__(self, name, base_pay):
        self.name = name
        self.base_pay = base_pay

    def get_pay(self):
        return self.base_pay

class SalesEmployee(Employee):
    def __init__(self, name, base_pay, sales_incentive):
        self.name = name
        self.base_pay = base_pay
        self.sales_incentive = sales_incentive

john = SalesEmployee('John', 5000, 1500)
print(john.get_pay()) # 5000

# overriding get_pay method
class SalesEmployee(Employee):
    def __init__(self, name, base_pay, sales_incentive):
        self.name = name
        self.base_pay = base_pay
        self.sales_incentive = sales_incentive

    def get_pay(self):
        return self.base_pay + self.sales_incentive

john = SalesEmployee('John', 5000, 1500)
print(john.get_pay()) # 6500

super - to call the methods of a parent class from a child class.

In [ ]:
class Employee:
    def __init__(self, name, base_pay, bonus):
        self.name = name
        self.base_pay = base_pay
        self.bonus = bonus

    def get_pay(self):
        return self.base_pay + self.bonus

class SalesEmployee(Employee):
    def __init__(self, name, base_pay, bonus, sales_incentive):
        super().__init__(name, base_pay, bonus)
        self.sales_incentive = sales_incentive

    def get_pay(self):
        return super().get_pay() + self.sales_incentive

if __name__ == '__main__':
    sales_employee = SalesEmployee('John', 5000, 1000, 2000)
    print(sales_employee.get_pay())  # 8000

`__slots__`

By default, Python uses the dictionaries to manage the instance attributes. The dictionary allows you to add more attributes to the instance dynamically at runtime. However, it also has a certain memory overhead. If the Point2D class has many objects, there will be a lot of memory overhead.

To avoid the memory overhead, Python introduced the slots. If a class only contains fixed (or predetermined) instance attributes, you can use the slots to instruct Python to use a more compact data structure instead of dictionaries.

In [ ]:
class Point2D:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __repr__(self):
        return f'Point2D({self.x},{self.y})'

point = Point2D(0, 0)
print(point.__dict__) # {'x': 0, 'y': 0}

class Point2D:
    __slots__ = ('x', 'y')

    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __repr__(self):
        return f'Point2D({self.x},{self.y})'

point = Point2D(0, 0)
print(point.__dict__) # AttributeError: 'Point2D' object has no attribute __dict__

point = Point2D(0, 0)
print(point.__slots__)  # ('x', 'y')

point.z = 0 # AttributeError: 'Point2D' object has no attribute 'z'

# However, you can add the class attributes to the class:
Point2D.color = 'black'
pprint(Point2D.__dict__)
# mappingproxy({'__doc__': None,
#               '__init__': <function Point2D.__init__ at 0x000001BBBA841310>,
#               '__module__': '__main__',
#               '__repr__': <function Point2D.__repr__ at 0x000001BBBA8413A0>,
#               '__slots__': ('x', 'y'),
#               'color': 'black',
#               'x': <member 'x' of 'Point2D' objects>,
#               'y': <member 'y' of 'Point2D' objects>})

`__slots__` and single inheritance

In [ ]:
# ---------------------- The base class uses the slots but the subclass doesn’t
class Point2D:
    __slots__ = ('x', 'y')

    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __repr__(self):
        return f'Point2D({self.x},{self.y})'

class Point3D(Point2D):
    def __init__(self, x, y, z):
        super().__init__(x, y)
        self.z = z

if __name__ == '__main__':
    point = Point3D(10, 20, 30)
    point.c = 69
    print(point.__dict__)   # {'z': 30, 'c': 69}
    print(point.__slots__)  # ('x', 'y')

# The Point3D class doesn’t have slots so its instance has the __dict__ attribute.
# In this case, the subclass Point3D uses slots from its base class (if available) and uses an instance dictionary.
# If you want the Point3D class to use slots, you can define additional attributes like this:
class Point3D(Point2D):
    __slots__ = ('z',)

    def __init__(self, x, y, z):
        super().__init__(x, y)
        self.z = z

# ---------------------- The base class doesn’t use __slots__ and the subclass does
class Shape:
    pass

class Point2D(Shape):
    __slots__ = ('x', 'y')

    def __init__(self, x, y):
        self.x = x
        self.y = y

if __name__ == '__main__':
    # use both slots and dict to store instance attributes
    point = Point2D(10, 10)
    print(point.__slots__)  # ('x', 'y')
    print(point.__dict__)   # {}

    # can add the attribute at runtime
    point.color = 'black'
    print(point.__dict__)   # {'color': 'black'}

Abstract Class

In object-oriented programming, an abstract class is a class that cannot be instantiated. However, you can create classes that inherit from an abstract class.

Typically, you use an abstract class to create a blueprint for other classes.

Similarly, an abstract method is an method without an implementation. An abstract class may or may not include abstract methods.

Python doesn’t directly support abstract classes. But it does offer a module that allows you to define abstract classes.

To define an abstract class, you use the abc (abstract base class) module.

The abc module provides you with the infrastructure for defining abstract base classes.

In [ ]:
from abc import ABC, abstractmethod

class Employee(ABC):
    def __init__(self, first_name, last_name):
        self.first_name = first_name
        self.last_name = last_name

    @property
    def full_name(self):
        return f"{self.first_name} {self.last_name}"

    @abstractmethod
    def get_salary(self):
        pass

class FulltimeEmployee(Employee):
    def __init__(self, first_name, last_name, salary):
        super().__init__(first_name, last_name)
        self.salary = salary

    def get_salary(self):
        return self.salary

class HourlyEmployee(Employee):
    def __init__(self, first_name, last_name, worked_hours, rate):
        super().__init__(first_name, last_name)
        self.worked_hours = worked_hours
        self.rate = rate

    def get_salary(self):
        return self.worked_hours * self.rate

class Payroll:
    def __init__(self):
        self.employee_list = []

    def add(self, employee):
        self.employee_list.append(employee)

    def print(self):
        for e in self.employee_list:
            print(f"{e.full_name} \t ${e.get_salary()}")

payroll = Payroll()

payroll.add(FulltimeEmployee('John', 'Doe', 6000))
payroll.add(FulltimeEmployee('Jane', 'Doe', 6500))
payroll.add(HourlyEmployee('Jenifer', 'Smith', 200, 50))
payroll.add(HourlyEmployee('David', 'Wilson', 150, 100))
payroll.add(HourlyEmployee('Kevin', 'Miller', 100, 150))

payroll.print()
'''
John Doe         $6000
Jane Doe         $6500
Jenifer Smith    $10000
David Wilson     $15000
Kevin Miller     $15000

In practice, you use abstract classes to share the code among several closely related classes. In the payroll program, all
subclasses of the Employee class share the same full_name property.
'''

Multiple inheritance.

Method resolution order (MRO) i.e left to right
__init__ of child -> __init__ of parent1 -> __init__ of parent2

In [ ]:
class Car:
    def start(self):
        print('Start the Car')

    def go(self):
        print('Going')

class Flyable:
    def start(self):
        print('Start the Flyable object')

    def fly(self):
        print('Flying')

# result in order of extending. From left to right, you’ll see the FlyingCar, Flyable, Car, and object.
# When the parent classes have methods with the same name and the child class calls the method,
# Python uses the method resolution order (MRO) to search for the right method to call.
class FlyingCar(Flyable, Car):
    def start(self):
        super().start()

if __name__ == '__main__':
    car = FlyingCar()
    car.start() # Start the Flyable object

class FlyingCar(Car, Flyable):
    def start(self):
        super().start()

if __name__ == '__main__':
    car = FlyingCar()
    car.start() # Start the car

print(FlyingCar.__mro__)  # (<class '__main__.FlyingCar'>, <class '__main__.Flyable'>, <class '__main__.Car'>, <class 'object'>)

multiple inheritance and super

In [ ]:
# __init__ method needs to call the right __init__ method specified in the method order resolution __mro__ of the class.
class Car:
    def __init__(self, door, wheel):
        self.door = door
        self.wheel = wheel

    def start(self):
        print('Start the Car')

    def go(self):
        print('Going')

class Flyable:
    def __init__(self, wing):
        self.wing = wing

    def start(self):
        print('Start the Flyable object')

    def fly(self):
        print('Flying')

class FlyingCar(Flyable, Car):
    def __init__(self, door, wheel, wing):
        super().__init__(wing=wing) # the super().__init__() calls the __init__ of the FlyingCar class. Therefore, you need to pass the wing argument to the __init__ method.
        self.door = door
        self.wheel = wheel

    def start(self):
        super().start()

Mixin

A mixin is a class that provides method implementations for reuse by multiple related child classes. However, the inheritance is not implying an is-a relationship.

A mixin doesn’t define a new type. Therefore, it is not intended for direction instantiation.

A mixin bundles a set of methods for reuse. Each mixin should have a single specific behavior, implementing closely related methods.

Typically, a child class uses multiple inheritance to combine the mixin classes with a parent class.

Since Python doesn’t define a formal way to define mixin classes, it’s a good practice to name mixin classes with the suffix Mixin.

A mixin class is like an interface in Java and C# with implementation. And it’s like a trait in PHP.

In [ ]:
import json
from pprint import pprint

class DictMixin:
    def to_dict(self):
        return self._traverse_dict(self.__dict__)

    def _traverse_dict(self, attributes):
        result = {}
        for key, value in attributes.items():
            result[key] = self._traverse(key, value)
        return result

    def _traverse(self, key, value):
        if isinstance(value, DictMixin):
            return value.to_dict()
        elif isinstance(value, dict):
            return self._traverse_dict(value)
        elif isinstance(value, list):
            return [self._traverse(key, v) for v in value]
        elif hasattr(value, '__dict__'):
            return self._traverse_dict(value.__dict__)
        else:
            return value

class JSONMixin:
    def to_json(self):
        return json.dumps(self.to_dict())

class Person:
    def __init__(self, name):
        self.name = name

class Employee(DictMixin, JSONMixin, Person):
    def __init__(self, name, skills, dependents):
        super().__init__(name)
        self.skills = skills
        self.dependents = dependents

if __name__ == '__main__':
    e = Employee(
        name='John',
        skills=['Python Programming''Project Management'],
        dependents={'wife': 'Jane', 'children': ['Alice', 'Bob']}
    )
    pprint(e.to_dict())
    print(e.to_json())

# {
#     'dependents': {
#         'children': ['Alice', 'Bob'],
#         'wife': 'Jane'
#     },
#     'name': 'John',
#     'skills': ['Python ProgrammingProject Management']
# }

# {
#     "name": "John",
#     "skills": ["Python ProgrammingProject Management"],
#     "dependents": {
#         "wife": "Jane",
#         "children": ["Alice", "Bob"]
#     }
# }

# Python Properties

Some object-oriented languages such as Java and C# support private object attributes; which cannot be directly accessed from outside. Programmers often have to write getter and setter methods to access such private attributes.

However in Python, all the attributes and methods are public, so it is useless to write getters or setters.

If you want to prevent direct access to an attribute, you should define it as a property.

In [ ]:
"""
The property() has the following parameters: property(fget=None, fset=None, fdel=None, doc=None)

fget  -> is a function to get the value of the attribute, or the getter method.
fset  -> is a function to set the value of the attribute, or the setter method.
fdel  -> is a function to delete the attribute.
doc   -> is a docstring i.e., a comment.
"""
from pprint import pprint

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def set_age(self, age):
        if age <= 0:
            raise ValueError('The age must be positive')
        self._age = age

    def get_age(self):
        return self._age

    age = property(fget=get_age, fset=set_age)

print(Person.age) # <property object at 0x10103c180>

john = Person('John', 18)
pprint(john.__dict__) # {'_age': 18, 'name': 'John'}

john.age = 19
pprint(Person.__dict__)
# mappingproxy({'__dict__': <attribute '__dict__' of 'Person' objects>,
#               '__doc__': None,
#               '__init__': <function Person.__init__ at 0x10102f640>,
#               '__module__': '__main__',
#               '__weakref__': <attribute '__weakref__' of 'Person' objects>,
#               'age': <property object at 0x10103c180>,
#               'get_age': <function Person.get_age at 0x1011d6560>,
#               'set_age': <function Person.set_age at 0x1011d64d0>})

class Person():
    def __init__(self, value):
        self.hidden_name = value

    # getter function
    def get_name(self):
        print('Getting name:')
        return self.hidden_name

    # setter function
    def set_name(self, value):
        print('Setting name to', value)
        self.hidden_name = value

    # deleter function
    def del_name(self):
        print('Deleting name')
        del self.hidden_name

    # make a property
    name = property(get_name, set_name, del_name, doc='name of the person')

@property – Property as a Decorator

A more elegant syntax to define properties in a class is to use property as a decorator

In the next example, we’ll define three different methods, each called name() but preceded by different decorators:

* @property decorator goes before the getter method
* @name.setter decorator goes before the setter method
* @name.deleter decorator goes before the deleter method

In [ ]:
class Person:
    def __init__(self, name, age):
        self._name = name
        self._age = age

    @property
    def age(self):
        return self._age

    @age.setter
    def age(self, value):
        if value <= 0:
            raise ValueError('The age must be positive')
        self._age = value

    @property
    def name(self):
        return self._name

    @name.setter
    def name(self, value):
        if value.strip() == '':
            raise ValueError('The name cannot be empty')
        self._name = value

p = Person('john', 69);
print(p.age)  # 69

p.age = 45;
print(p.age)  # 45

Python readonly property

To define a readonly property, you need to create a property with only the getter. However, it is not truly read-only because you can always access the underlying attribute and change it.

The read-only properties are useful in some cases such as for computed properties.

In [ ]:
import math

class Circle:
    def __init__(self, radius):
        self.radius = radius

    @property
    def area(self):
        return math.pi * self.radius ** 2

c = Circle(10)
print(c.area)

delete property

In [ ]:
from pprint import pprint

class Person:
    def __init__(self, name):
        self._name = name

    @property
    def name(self):
        return self._name

    @name.setter
    def name(self, value):
        if value.strip() == '':
            raise ValueError('name cannot be empty')
        self._name = value

    @name.deleter
    def name(self):
        del self._name

person = Person('John')
pprint(person.__dict__) # {'_name': 'John'}

del person.name # {}

# Python Enumeration

Enumerations are immutable, are hashable.

In [ ]:
from enum import Enum

class Color(Enum):
    RED = 1
    GREEN = 2
    BLUE = 3

print(type(Color.RED))  # <enum 'Color'>
print(isinstance(Color.RED, Color)) # True

print(Color.RED.name)   # RED
print(Color.RED.value)  # 1

print(Color.RED)    # Color.RED
print(Color['RED']) # Color.RED
print(Color(1))     # Color.RED

if Color.RED in Color:
    print('Yes')    # Yes

for color in Color:
    print(color)    # Color.RED ...

print(list(Color))  # [<Color.RED: 1>, <Color.GREEN: 2>, <Color.BLUE: 3>]

# hashable
rgb = {
    Color.RED: '#ff0000',
    Color.GREEN: '#00ff00',
    Color.BLUE: '#0000ff'
}

enherits from enumeration

In [ ]:
# An enumeration cannot be inherited unless it contains no members.
from enum import Enum
class Color(Enum):
    pass

class RGB(Color):
    RED = 1
    GREEN = 2
    BLUE = 3

# However, the following example won’t work because the RGB enumeration has members:
class RGBA(RGB):
    ALPHA = 4

# error -> TypeError: Cannot extend enumerations

enum alias

In [ ]:
# By definition, the enumeration member values are unique. However, you can create different member names with the same values.
# When you define multiple members in an enumeration with the same values, Python does not create different members but aliases.
# In this example, the RED is the main member while the CRIMSON and SALMON members are the aliases of the RED member
from enum import Enum

class Color(Enum):
    RED = 1
    CRIMSON = 1
    SALMON = 1
    GREEN = 2
    BLUE = 3

print(Color.RED is Color.CRIMSON)   # True
print(Color.RED is Color.SALMON)    # True

# When you look up a member by value, you’ll always get the main member, not aliases. For example, the following statement
# returns the RED member:
print(Color(1)) # COLOR.RED

for color in Color:
    print(color)
'''
Color.RED
Color.GREEN
Color.BLUE
'''

@enum.unique decorator

In [ ]:
import enum
from enum import Enum

@enum.unique
class Day(Enum):
    MON = 'Monday'
    TUE = 'Monday'
    WED = 'Wednesday'
    THU = 'Thursday'
    FRI = 'Friday'
    SAT = 'Saturday'
    SUN = 'Sunday'

# throws an error

enum auto()

In [ ]:
# auto() helper class in the enum module, which automatically generates unique values for the enumeration members.
from enum import Enum, auto

class State(Enum):
    PENDING = auto()
    FULFILLED = auto()
    REJECTED = auto()

    def __str__(self):
        return f'{self.name(self.value)}'

for state in State:
    print(state.name, state.value)

'''
PENDING 1
FULFILLED 2
REJECTED 3
'''

auto() internal working

In [ ]:
'''
# Technically, the auto() calls the _generate_next_value_() method to generate values for the members. Here’s the syntax
# of the _generate_next_value_() method:
The _generate_next_value_() has the following parameters:

name  -> is the member’s name
start -> is the starting value of the enum members.
count -> is the number of enum members, including aliases, that have been created.
last_values -> is a list of all preceding values used for the enum members.
'''
from enum import Enum, auto

class State(Enum):
    def _generate_next_value_(name, start, count, last_values):
        return name.lower()

    PENDING = auto()
    FULFILLED = auto()
    REJECTED = auto()

for state in State:
    print(state.name, state.value)

'''
PENDING pending
FULFILLED fulfilled
REJECTED rejected
'''

# Python Descriptors

Descriptor protocol
In Python, the descriptor protocol consists of three methods:
* __get__ gets an attribute value
* __set__ sets an attribute value
* __delete__ deletes an attribute

A descriptor is an object of a class that implements one of the methods specified in the descriptor protocol.

Descriptors have two types:
* data descriptor
* non-data descriptor.

A data descriptor is an object of a class that implements the __set__ and/or __delete__ method.
A non-data descriptor is an object that implements the __get__ method only.

In [ ]:
# Suppose you have a class Person with two instance attributes first_name and last_name:
class Person:
    def __init__(self, first_name, last_name):
        self.first_name = first_name
        self.last_name = last_name

# And you want the first_name and last_name attributes to be non-empty strings. These plain attributes cannot guarantee this.
# To enforce the data validity, you can use property with a getter and setter methods, like this:
class Person:
    def __init__(self, first_name, last_name):
        self.first_name = first_name
        self.last_name = last_name

    @property
    def first_name(self):
        return self._first_name

    @first_name.setter
    def first_name(self, value):
        if not isinstance(value, str):
            raise ValueError('The first name must a string')

        if len(value) == 0:
            raise ValueError('The first name cannot be empty')

        self._first_name = value

    @property
    def last_name(self):
        return self._last_name

    @last_name.setter
    def last_name(self, value):
        if not isinstance(value, str):
            raise ValueError('The last name must a string')

        if len(value) == 0:
            raise ValueError('The last name cannot be empty')

        self._last_name = value

# In this Person class, the getter returns the attribute value while the setter validates it before assigning it to the attribute.
# This code works perfectly fine. However, it is redundant because the validation logic validates the first and last names is the same.

# Also, if the class has more attributes that require a non-empty string, you need to duplicate this logic in other properties.
# In other words, this validation logic is not reusable.

# To avoid duplicating the logic, you may have a method that validates data and reuse this method in other properties.
# This approach will enable reusability. However, Python has a better way to solve this by using descriptors.

# First, define a descriptor class that implements three methods __set_name__, __get__, and __set__:
class RequiredString:
    def __set_name__(self, owner, name):
        self.property_name = name

    def __get__(self, instance, owner):
        if instance is None:
            return self
        return instance.__dict__[self.property_name] or None

    def __set__(self, instance, value):
        if not isinstance(value, str):
            raise ValueError(f'The {self.property_name} must be a string')

        if len(value) == 0:
            raise ValueError(f'The {self.property_name} cannot be empty')

        instance.__dict__[self.property_name] = value

class Person:
    first_name = RequiredString()
    last_name = RequiredString()

try:
    person = Person()
    person.first_name = ''
except ValueError as e:
    print(e)  # The first_name must be a string

In [ ]:
'''
# It means that Python automatically calls the __set_name__ when the owning class Person is created. The following statements
# are equivalent:

first_name = RequiredString()
    # and
first_name.__set_name__(Person, 'first_name')

# When you assign the new value to a descriptor, Python calls __set__ method to set the attribute on an instance of the owner
# class to the new value. For example:

person = Person()
person.first_name = 'John'

# Python calls the __get__ method of the Person‘s object when you access the first_name attribute. For example:
person = Person()

person.first_name = 'John'
print(person.first_name)
'''

In [ ]:
# non-date descriptors
class FileCount:
    def __get__(self, instance, owner):
        # self -> <__main__.FileCount object at 0x10ec83a90>
        # instance -> <__main__.Folder object at 0x10ec83a60>
        # owner -> <class '__main__.Folder'>
        return len(os.listdir(instance.path))

class Folder:
    count = FileCount()
    def __init__(self, path):
        self.path = path

folder = Folder('/')
print('file count: ', folder.count) #19

# Python Exception

Exception Handling

In [ ]:
def division(a, b):
    return a / b
c = division(10, 0)
# ZeroDivisionError: division by zero

def division(a, b):
    try:
        return {
            'success': True,
            'message': 'OK',
            'result': a / b
        }
    except ZeroDivisionError as e:
        return {
            'success': False,
            'message': 'b cannot be zero',
            'result': None
        }
result = division(10, 0)
print(result) # {'success': False, 'message': 'b cannot be zero', 'result': None}

In [ ]:
'''
try:
    # code that you want to protect from exceptions
except <ExceptionType> as ex:
    # code that handle the exception
finally:
    # code that always execute whether the exception occurred or not
else:
    # code that excutes if try execute normally (an except clause must be present)
'''

raise exception

In [ ]:
try:
    raise ValueError('The value error exception', 'x', 'y')
except ValueError as ex:
    print(ex.args)

raise another exception dusring handling

In [ ]:
def division(a, b):
    try:
        return a / b
    except ZeroDivisionError as ex:
        raise ValueError('b must not zero')

raise from statement

In [ ]:
def divide(a, b):
    try:
        return a / b
    except ZeroDivisionError as ex:
        raise ValueError('b must not be zero') from ex
divide(10, 0)

Custom Exception

In [ ]:
class FahrenheitError(Exception):
    min_f = 32
    max_f = 212

    def __init__(self, f, *args):
        super().__init__(args)
        self.f = f

    def __str__(self):
        return f'The {self.f} is not in a valid range {self.min_f, self.max_f}'

def fahrenheit_to_celsius(f: float) -> float:
    if f < FahrenheitError.min_f or f > FahrenheitError.max_f:
        raise FahrenheitError(f)
    return (f - 32) * 5 / 9

if __name__ == '__main__':
    f = input('Enter a temperature in Fahrenheit:')
    try:
        f = float(f)
    except ValueError as ex:
        print(ex)
    else:
        try:
            c = fahrenheit_to_celsius(float(f))
        except FahrenheitError as ex:
            print(ex)
        else:
            print(f'{f} Fahrenheit = {c:.4f} Celsius')

# Python Meta Programming

`__new__`

When you create an instance of a class, Python first calls the `__new__()` method to create the object and then calls the `__init__()` method to initialize the object’s attributes.

In [ ]:
# The __new__() is a static method of the object class. It has the following signature:
object.__new__(class, *args, **kwargs)

'''
The __new__() method should return a new object of the class. But it doesn’t have to.
When you define a new class, that class implicitly inherits from the object class. It means that you can override the __new__ static method and do something before and after creating a new instance of the class.

To create the object of a class, you call the super().__new__() method.
Technically, you can call the object.__new__() method to create an object manually. However, you need to call the __init__() yourself manually after. Python will not call the __init__() method automatically if you explicitly create a new object using the object.__new__() method.
'''

class Person:
    def __init__(self, name):
        self.name = name

person = object.__new__(Person, 'John')
print(person.__dict__)  # {}

person.__init__('John')
print(person.__dict__)  # {'name': 'John'}

# The following illustrates the sequence which Python calls the __new__ and __init__ method when you create a new object by calling the class:
class Person:
    def __new__(cls, name):
        print(f'Creating a new {cls.__name__} object...')
        obj = object.__new__(cls)
        return obj

    def __init__(self, name):
        print(f'Initializing the person object...')
        self.name = name

person = Person('John')
# Creating a new Person object...
# Initializing the person object...

# The following example defines the SquareNumber class that inherits from the built-in int type:
class SquareNumber(int):
    def __new__(cls, value):
        return super().__new__(cls, value ** 2)

x = SquareNumber(3)
print(x)  # 9
print(isinstance(x, int)) # True

In [ ]:
class SquareNumber(int):
    def __init__(self, value):
        super().__init__(value ** 2)

x = SquareNumber(3) # TypeError: object.__init__() takes exactly one argument (the instance to initialize)

In [ ]:
# In practice, you use the __new__() method when you want to tweak the object at the instantiated time.
# For example, the following defines the Person class and uses the __new__method to inject the full_name attribute to the Person’s object:
class Person:
    def __new__(cls, first_name, last_name):
        # create a new object
        obj = super().__new__(cls)

        # initialize attributes
        obj.first_name = first_name
        obj.last_name = last_name

        # inject new attribute
        obj.full_name = f'{first_name} {last_name}'
        return obj

person = Person('John', 'Doe')
print(person.full_name) # John Doe
print(person.__dict__)  # {'first_name': 'John', 'last_name': 'Doe', 'full_name': 'John Doe'}

Type class

In [ ]:
# In Python, a class is an object of the class type.
# Because the type class creates other classes, we often refer to it as a metaclass. A metaclass is a class used to create other classes.
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def greeting(self):
        return f'Hi, I am {self.name}. I am {self.age} year old.'

print(type(Person)) # <class 'type'> ie. The Person class is an object of the class type.
print(isinstance(Person, type)) # True

'''
type(name, bases, dict)
The constructor has three parameters for creating a new class:

name    -> is the name of the class e.g., Person
bases   -> is a tuple that contains the base classes of the new class. For example, the Person inherits from the object class,
so the bases contains one class (object,)
dict    -> is the class namespace
'''

Meta class

A metaclass is a class that creates other classes. By default, Python uses the type metaclass to create other classes.

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

# When Python executes the code, it uses the type metaclass to create the Person class. The reason is that the Person class uses the type metaclass by default.
# The explicit Person class definition looks like this:
class Person(object, metaclass=type):
    def __init__(self, name, age):
        self.name = name
        self.age = age

# The metaclass argument allows you to specify which metaclass class to use to define the class.
# Therefore, you can create a custom metaclass that has its own logic to create other classes.
# By using a custom metaclass, you can inject functionality into the class creation process.

# Metaclass Example
class Human(type):
    def __new__(mcs, name, bases, class_dict):
        class_ = super().__new__(mcs, name, bases, class_dict)
        class_.freedom = True
        return class_

class Person(object, metaclass=Human):
    def __init__(self, name, age):
        self.name = name
        self.age = age

pprint(Person.__dict__)
# mappingproxy({'__dict__': <attribute '__dict__' of 'Person' objects>,
#               '__doc__': None,
#               '__init__': <function Person.__init__ at 0x000001E716C71670>,
#               '__module__': '__main__',
#               '__weakref__': <attribute '__weakref__' of 'Person' objects>,
#               'freedom': True})

In [ ]:
# Metaclass Parameters
class Human(type):
    def __new__(mcs, name, bases, class_dict, **kwargs):
        class_ = super().__new__(mcs, name, bases, class_dict)
        if kwargs:
            for name, value in kwargs.items():
                setattr(class_, name, value)
        return class_

class Person(object, metaclass=Human, country='USA', freedom=True):
    def __init__(self, name, age):
        self.name = name
        self.age = age

pprint(Person.__dict__)
# mappingproxy({'__dict__': <attribute '__dict__' of 'Person' objects>,
#               '__doc__': None,
#               '__init__': <function Person.__init__ at 0x0000018A334235E0>,
#               '__module__': '__main__',
#               '__weakref__': <attribute '__weakref__' of 'Person' objects>,
#               'country': 'USA',
#               'freedom': True})

### In practice, you often don’t need to use metaclasses unless you maintain or develop the core of large frameworks such as Django.

Data class

The dataclass allows you to define classes with less code and more functionality out of the box.

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

"""
This Person class has the __init__ method that initializes the name and age attributes.
If you want to have a string representation of the Person object, you need to implement the __str__ or __repr__ method. Also, if you want to compare two instances of the Person class by an attribute, you need to implement the __eq__ method.

However, if you use the dataclass, you’ll have all of these features (and even more) without implementing these dunder methods.
To make the Person class a data class, you follow these steps:
"""

from dataclasses import dataclass
@dataclass
class Person:
    name: str
    age: int

# In this example, the Person class has two attributes name with the type str and age with the type int.
# By doing this, the @dataclass decorator implicitly creates the __init__ method like this: def __init__(name: str, age: int)

p1 = Person('John', 25)
print(p1) # Person(name='John', age=25)

p1 = Person('John', 25)
p2 = Person('John', 25)
print(p1 == p2) # True

In [ ]:
# Data class Default values
from dataclasses import dataclass

@dataclass
class Person:
    name: str
    age: int
    iq: int = 100

# equivalent to
class Person:
    def __init__(self, name, age, iq=100):
        self.name = name
        self.age = age
        self.iq = iq

p = Person('John Doe', 25)

print(astuple(p)) # ('John Doe', 25, 100)
print(asdict(p))  # {'name': 'John Doe', 'age': 25, 'iq': 100}

In [ ]:
# create immutable objects
from dataclasses import dataclass, astuple, asdict

@dataclass(frozen=True)
class Person:
    name: str
    age: int
    iq: int = 100

p = Person('Jane Doe', 25)
p.iq = 120  # dataclasses.FrozenInstanceError: cannot assign to field 'iq'

In [ ]:
# Customize attribute behaviors
# If don’t want to initialize an attribute in the __init__ method, you can use the field() function from the dataclasses module.
# The following example defines the can_vote attribute that is initialized using the __init__ method:
from dataclasses import dataclass, field

@dataclass
class Person:
    name: str
    age: int
    iq: int = 100
    can_vote: bool = field(init=False)

    def __post_init__(self):
        print('called __post_init__ method')
        self.can_vote = 18 <= self.age <= 70

p = Person('Jane Doe', 25)
print(p)  # Person(name='Jane Doe', age=25, iq=100, can_vote=True)

In [ ]:
# Sort objects
from dataclasses import dataclass, field

@dataclass(order=True)
class Person:
    sort_index: int = field(init=False, repr=False)

    name: str
    age: int
    iq: int = 100
    can_vote: bool = field(init=False)

    def __post_init__(self):
        self.can_vote = 18 <= self.age <= 70
        # sort by age
        self.sort_index = self.age

members = [
    Person(name='John', age=25),
    Person(name='Bob', age=35),
    Person(name='Alice', age=30)
]

sorted_members = sorted(members)
for member in sorted_members:
    print(f'{member.name}(age={member.age})')
"""
output:
  John(age=25)
  Alice(age=30)
  Bob(age=35)
"""

# Python String methods

In [ ]:
# --------------------- Capitalize the string
print('bob is a CEO at ABC.'.capitalize())  # Bob is a ceo at abc.
print('42 is my FAVOURITE number.'.capitalize())  # 42 is my favourite number.

In [ ]:
# --------------------- Casefold (more aggressive than lower() because it is intended to remove all case distinctions in a string.)
print('Hello, World!'.casefold()) # hello, world!

print('Das straße'.casefold())  # das strasse
print('Das straße'.lower())  # das straße

In [ ]:
# --------------------- Center
print('Centered'.center(14))        # | | | |C|e|n|t|e|r|e|d| | | |
print('Centered'.center(14, '*'))   # |*|*|*|C|e|n|t|e|r|e|d|*|*|*|

print('{:*^14}'.format('Centered')) # ***Centered***

In [ ]:
# --------------------- Count
print('Big, Bigger, Biggest'.count('Big'))        # 3
print('Big, Bigger, Biggest'.count('Big', 2))     # 2
print('Big, Bigger, Biggest'.count('Big', 5, 13)) # 1

In [ ]:
# --------------------- encode
print('Das straße'.encode())  # b'Das stra\xc3\x9fe'

x = S.encode(encoding='ascii',errors='backslashreplace')
print(x)  # b'Das stra\\xdfe'

x = S.encode(encoding='ascii',errors='ignore')
print(x)  # b'Das strae'

x = S.encode(encoding='ascii',errors='namereplace')
print(x)  # b'Das stra\\N{LATIN SMALL LETTER SHARP S}e'

x = S.encode(encoding='ascii',errors='replace')
print(x)  # b'Das stra?e'

x = S.encode(encoding='ascii',errors='xmlcharrefreplace')
print(x)  # b'Das straße'

x = S.encode(encoding='UTF-8',errors='strict')
print(x)  # b'Das stra\xc3\x9fe'

In [ ]:
# --------------------- startswith()
# method returns True if the string starts with the specified prefix, otherwise returns False.
print('Bob is a CEO.'.startswith('Bob'))            # True
print('Bob is a CEO at ABC'.startswith('CEO',9,18)) # True

suffixes = ('Bob','Max','Sam')
print('Bob is a CEO'.startswith(suffixes))          # True
print('Bob is a CEO'.startswith(suffixes))          # True

# --------------------- endswith
print('Bob is a CEO at ABC'.endswith('ABC'))        # True
print('Is Bob a CEO?'.endswith('?'))                # True
print('Bob is a CEO at ABC'.endswith('CEO',4,12))   # True

suffixes = ('CEO','CFO','COO')
print('Bob is a CEO'.endswith(suffixes))            # True
print('Sam is a CFO'.endswith(suffixes))            # True

In [ ]:
# --------------------- expandtabs
# method replaces each tab character ‘\t‘ in a string with specified number of spaces
print('a\tb\tc'.expandtabs())           # |a| | | | | | | |b| | | | | | | |c|
print('aaaa\tbbbb\tcccc'.expandtabs())  # |a|a|a|a| | | | |b|b|b|b| | | | |c|c|c|c|

print('a\tb\tc'.expandtabs(2))  # |a| |b| |c|
print('a\tb\tc'.expandtabs(4))  # |a| | | |b| | | |c|
print('a\tb\tc'.expandtabs(6))  # |a| | | | | |b| | | | | |c|

In [ ]:
# --------------------- find()
# method searches for the first occurrence of the specified substring sub and returns its index.
# If specified substring is not found, it returns -1.
print('Bob is a Developer at ABC'.find('Developer'))  # 9

print('Bob is a Developer at ABC'.find('Manager'))  # -1

print('Big, Bigger, Biggest'.find('Big',7))     # 13
print('Big, Bigger, Biggest'.find('Big',2,10))  # 5

# find() method is identical to the index() method.
# index() method raises a ValueError exception, if the substring is not found.

# --------------------- rfind()
# method searches for the last occurrence of the specified substring sub and returns its index. If specified substring is not found, it returns -1.
print('Big, Bigger, Biggest'.rfind('Big'))      # 13
print('Big, Bigger, Biggest'.rfind('Small'))    # -1
print('Big, Bigger, Biggest'.rfind('Big',2,10)) # 5

# The rfind() method is identical to the rindex() method.
# The only difference is that the rindex() method raises a ValueError exception, if the substring is not found.

In [ ]:
# --------------------- isalnum()
# method returns TRUE if the string is nonempty and all characters in it are alphanumeric. Otherwise, it returns FALSE.
# A character is alphanumeric if it is either a letter [a-z],[A-Z] or a number[0-9].
print('abc123'.isalnum())   # True
print('abc-123'.isalnum())  # False
print('*abc123?'.isalnum()) # False
print('abc 123'.isalnum())  # False
print(''.isalnum())         # False

In [ ]:
# --------------------- isalpha()
# method returns TRUE if the string is nonempty and all characters in it are alphabetic (a-z or A-Z). Otherwise, it returns FALSE.
print('abc'.isalpha())      # True
print('123'.isalpha())      # False
print('abc123'.isalpha())   # False
print('abc xyz'.isalpha())  # False
print(''.isalpha())         # False

In [ ]:
# --------------------- isdecimal()
# method returns TRUE if the string is nonempty and all characters in it are decimal characters. Otherwise, it returns FALSE.
# --------------------- isdigit()
# method returns TRUE if the string is nonempty and all characters in it are digits. Otherwise, it returns FALSE.
print('123'.isdecimal())        # True
print('123.456'.isdecimal())    # False
print('1,234,567'.isdecimal())  # False
print(''.isdecimal())           # False

print('123'.isdigit())          # True
print('123.456'.isdigit())      # False
print('123.456'.isdigit())      # False
print(''.isdigit())             # False
print('10²'.isdigit())          # True

print('123'.isnumeric())          # True
print('123.456'.isnumeric())      # False
print('123.456'.isnumeric())      # False
print(''.isnumeric())             # False
print('\u00b2'.isnumeric())       # True
print('\u2153'.isnumeric())       # True

# isdecimal() vs isdigit() vs isnumeric()
print('42'.isdecimal())        # True
print('42'.isdigit())          # True
print('42'.isnumeric())        # True

print('\u00b2'.isdecimal())    # False
print('\u00b2'.isdigit())      # True
print('\u00b2'.isnumeric())    # True

print('\u2153'.isdecimal())    # False
print('\u2153'.isdigit())      # False
print('\u2153'.isnumeric())    # True

"""
isdecimal() -> method supports only Decimal Numbers.
isdigit()   -> method supports Decimals, Subscripts, Superscripts.
isnumeric() -> method supports Digits, Vulgar Fractions, Subscripts, Superscripts, Roman Numerals, Currency Numerators.
"""

In [ ]:
# --------------------- isidentifier()
# method returns TRUE if the string is a valid identifier according to the language definition, and FALSE otherwise.
print('totalCount'.isidentifier())    # True
print('total_Count'.isidentifier())   # True
print('total Count'.isidentifier())   # False
print('total-Count'.isidentifier())   # False

print('123totalCount'.isidentifier()) # False
print('totalCount123'.isidentifier()) # True

print('class'.isidentifier())         # True

# To test whether a string matches a Python keyword, use keyword.iskeyword()
from keyword import iskeyword
print(iskeyword('class')) # True

# So, a string is considered a valid identifier if .isidentifier() returns True and iskeyword() returns False.

In [ ]:
# --------------------- islower()
print('abcd'.islower())     # True
print('123$@%'.islower())   # False
print('a123$@%'.islower())  # True
print('abcdE'.islower())    # False

In [ ]:
# --------------------- isprintable()
# Carriage return \r , line feed \n and tab \t are examples of nonprintable characters.
print('Hello, World!'.isprintable())      # True
print('\tHello,\nWorld!'.isprintable())   # False
print(''.isprintable())                   # False

In [ ]:
# --------------------- isspace()
# method returns TRUE if the string is nonempty and all characters in it are whitespace characters. Otherwise, it returns FALSE.
print('    '.isspace())           # True
print('   a'.isspace())           # False
print(' \t \n \r \f '.isspace())  # True
print('\u2005 \u2007'.isspace())  # True

In [ ]:
# --------------------- istitle()
# method returns TRUE if the string is nonempty and a titlecased string. Otherwise, it returns FALSE.
print('Hello World'.istitle())              # True
print('*** Hello, World! 123'.istitle())    # True

print('HELLO, WORLD!'.istitle())            # False
print('hello, world'.istitle())             # False

In [ ]:
# --------------------- isupper()
# method return TRUE if all cased characters in the string are uppercase and there is at least one cased character, false otherwise.
print('ABCD'.isupper())     # True
print('123$@%'.isupper())   # False
print('A123$@%'.isupper())  # True
print('ABCDe'.isupper())    # False

In [ ]:
# --------------------- join()
# method joins all items in an iterable into a single string. Call this method on a string you want to use as a delimiter like comma, space etc.
print(','.join(['red', 'green', 'blue']))             # red,green,blue
print(' '.join(['The', 'World', 'is', 'Beautiful']))  # The World is Beautiful
print('\n'.join(['First Line', 'Second Line']))
# First Line
# Second Line

print(','.join(['red']))  # red

# If there are any non-string values in iterable, a TypeError will be raised.
# to avoid those scenarios, you need to convert each item in a list to string.
print(','.join(str(val) for val in [1, 2, 3, 4, 5, 6])) # 1,2,3,4,5,6

# dictionary
L = {'name':'Bob', 'city':'seattle'}
print(','.join(L))  # city,name
print(','.join(L.values())) # seattle,Bob
print(','.join('='.join((key,val)) for (key,val) in L.items())) # city=seattle,name=Bob

print(''.join(['aaa','bbb'])) # aaabbb

In [ ]:
# --------------------- ljust()
# method returns left-justified string of length width. Padding is done using the specified fillchar (default is an ASCII space).
print('Left'.ljust(12))         # |L|e|f|t| | | | | | | | |
print('Left'.ljust(12, '*'))    # |L|e|f|t|*|*|*|*|*|*|*|*|
print('{:<12}'.format('Left'))  # |L|e|f|t|*|*|*|*|*|*|*|*|

# --------------------- rjust()
# method returns right-justified string of length width. Padding is done using the specified fillchar (default is an ASCII space).
print('Right'.ljust(12))         # | | | | | | | |R|i|g|h|t|
print('Right'.rjust(12, '*'))    # |*|*|*|*|*|*|*|R|i|g|h|t|
print('{:<12}'.format('Right'))  # |*|*|*|*|*|*|*|R|i|g|h|t|

In [ ]:
# --------------------- lower()
# method returns a copy of the string with all the characters converted to lowercase. This method does not change the original string.
print('Hello, World!'.lower())  # hello, world!

# --------------------- upper()
# method returns a copy of the string with all the characters converted to uppercase. This method does not change the original string.
print('Hello, World!'.upper())  # HELLO, WORLD!

In [ ]:
# --------------------- strip()
# method removes whitespace from the beginning (leading) and end (trailing) of the string by default.
print('   Hello, World!   '.strip())        # |H|e|l|l|o|,| |W|o|r|l|d|!|
print(' \t\n\r Hello, World!    '.strip())  # |H|e|l|l|o|,| |W|o|r|l|d|!|
print('aaabaaaa'.lstrip('a'))               # b

# multiple chars
print('www.example.com'.lstrip('cmowz.'))             # example
print('xxxxSxxxxSxxxx'.lstrip('x'))                   # SxxxxS
print('... - Version 3.2 Model-32 ...'.lstrip('.- ')) # Version 3.2 Model-32

# --------------------- lstrip()
# method removes whitespace from the beginning (leading) of the string by default.
print('   Hello, World!   '.lstrip())       # | | | |H|e|l|l|o|,| |W|o|r|l|d|!|
print(' \t\n\r Hello, World!    '.lstrip()) # |H|e|l|l|o|,| |W|o|r|l|d|!| | | | |
print('aaaaab'.lstrip('a'))                 # b

# multiple chars
print('http://www.example.com'.lstrip('hwtp:/.')) # example.com
print('xxxxSxxxxSxxxx'.lstrip('x'))               # SxxxxSxxxx
print('... - Version 3.2 Model-32'.lstrip('.- ')) # Version 3.2 Model-32

# --------------------- rstrip()
# method removes whitespace from the right end (trailing) of the string by default.
print('   Hello, World!   '.rstrip())       # |H|e|l|l|o|,| |W|o|r|l|d|!| | | |
print('    Hello, World! \t\n\r '.rstrip()) # | | | | |H|e|l|l|o|,| |W|o|r|l|d|!|
print('baaaaa'.rstrip('a'))                 # b

# multiple chars
print('example.com/wow'.rstrip('wo/'))            # example.com
print('xxxxSxxxxSxxxx'.rstrip('x'))               # xxxxSxxxxS
print('Version 3.2 Model-32 - ...'.rstrip('.- ')) # Version 3.2 Model-32

In [ ]:
# --------------------- partition()
# method splits the string at the first occurrence of separator, and returns a tuple containing three items.
print('Do it now and keep it simple'.partition('and'))  # ('Do it now ', 'and', ' keep it simple')
print('Do it now and keep it simple'.partition('and'))  # ('Do it now and keep it simple', '', '')

# multiple matches
print('Do it now and keep it simple'.partition('it'))   # ('Do ', 'it', ' now and keep it simple')

# --------------------- rpartition()
# method splits the string at the last occurrence of separator, and returns a tuple containing three items.
print('Do it now and keep it simple'.rpartition('and'))  # ('Do it now ', 'and', ' keep it simple')
print('Do it now and keep it simple'.rpartition('and'))  # ('', '', 'Do it now and keep it simple')

# multiple matches
print('Do it now and keep it simple'.rpartition('it'))   # ('Do it now and keep ', 'it', ' simple')

In [ ]:
# --------------------- replace()
# method returns a copy of string with all occurrences of old substring replaced by new.
print('Hello, World!'.replace('World','Universe'))          # Hello, Universe!
print('Long, Longer, Longest'.replace('Long','Small'))      # Small, Smaller, Smallest
print('Long, Longer, Longest'.replace('Long','Small', 2))   # Small, Smaller, Longest

In [ ]:
# --------------------- title()
# method returns a copy of the string with first letter of each word is converted to uppercase and remaining letters are lowercase.
print('hello, world!'.title())          # Hello, World!

# unexpected behaviour of title()
print('c3po is a droid'.title())        # C3Po Is A Droid
print('they're bob's friends.'.title()) # They'Re Bob'S Friends.

# Workaround
import string
print(string.capwords("c3po is a droid"))         # C3po Is A Droid
print(string.capwords("they're bob's friends."))  # They're Bob's Friends.

In [ ]:
# --------------------- split()
# method splits the string on a specified delimiter and returns the list of substrings. When delimiter is not specified, the string is split on whitespace.
print('The World is Beautiful'.split())       # ['The', 'World', 'is', 'Beautiful']
print('  The    World is  Beautiful'.split()) # ['The', 'World', 'is', 'Beautiful']
print('The\n\rWorld\tis Beautiful'.split())   # ['The', 'World', 'is', 'Beautiful']

print('red,green,blue'.split(','))            # ['red', 'green', 'blue']
print('the beginning is the end is the beginning'.split(' is '))  # ['the beginning', 'the end', 'the beginning']

# maxsplit
print('The World is Beautiful'.split(None, 1))       # ['The', 'World is Beautiful']
print('The World is Beautiful'.split(None, 2))       # ['The', 'World', 'is Beautiful']

# multiple delimeters
import re
print(re.split('[,;:]','red,green;blue:yellow'))     # ['red', 'green', 'blue', 'yellow']

# --------------------- rsplit()
# method splits the string on a specified delimiter and returns the list of substrings.
print('The World is Beautiful'.rsplit())       # ['The', 'World', 'is', 'Beautiful']

print('red,green,blue'.rsplit(','))            # ['red', 'green', 'blue']
print('the beginning is the end is the beginning'.rsplit(' is '))  # ['the beginning', 'the end', 'the beginning']

# maxsplit
print('The World is Beautiful'.rsplit(None, 1))       # ['The World is', 'Beautiful']
print('The World is Beautiful'.rsplit(None, 2))       # ['The World', 'is', 'Beautiful']

# --------------------- splitlines()
# method splits a string at line breaks and returns them in a list.
print('First line\nSecond line'.splitlines())         # ['First line', 'Second line']
print('First\nSecond\r\nThird\fFourth'.splitlines())  # ['First', 'Second', 'Third', 'Fourth']

# Keep Line Breaks in Result
print('First line\nSecond line'.splitlines(True))     # ['First line\n', 'Second line']

# --------------------- splitlines() vs split()
# splitlines()
print(''.splitlines())  # []
# split()
print(''.split('\n'))   # ['']

# splitlines()
print('One line\n'.splitlines())  # ['One line']
# split()
print('One line\n'.split('\n'))   # ['One line', '']

In [ ]:
# --------------------- swapcase()
# method returns a copy of the string with uppercase characters converted to lowercase and vice versa. This method does not change the original string.
print('Hello, World!'.swapcase()) # hELLO, wORLD!
print('123 abc $@%'.swapcase())   # 123 abc $@%

In [ ]:
# --------------------- zfill()
# method returns a copy of string left padded with ‘0’ characters to make a string of length width.
print('42'.zfill(6))          # 000042
print('+42'.zfill(6))         # +00042
print('-42'.zfill(6))         # -00042

print('{:0>6}'.format('42'))  # 000042

In [ ]:
# --------------------- format()

# Python Built-in Functions

In [ ]:
# --------------------- abs()
# method returns the absolute value of a number.
print(abs(-10))     # 10
print(abs(-2.5))    # 2.5
print(abs(3 + 4j))  # 5

In [ ]:
# --------------------- all()
# function returns True if all items in an iterable are True. Otherwise, it returns False.
print(all([1, 1, 1]))             # True
print(all([0, 1, 1]))             # False
print(all([True, 0, 1]))          # False
print(all({0j, 3+4j}))            # False
print(all(('', 'red', 'green')))  # False

print(all({0: 'Zero', 1: 'One', 2: 'Two'}))   # False
print(all({'Zero': 0, 'One': 1, 'Two': 2}))   # True

print(all([]))        # True
print(all([[], []]))  # False

In [ ]:
# --------------------- any()
# function returns True if any item in an iterable is True. Otherwise, it returns False.
print(all([0, 0, 0]))             # False
print(all([0, 1, 0]))             # True
print(all([False, 0, 1]))         # True
print(all(['', [], 'blue']))      # True
print(all({0j, 3+4j, 0.0}))       # True

print(all({0: 'Zero', 0: 'Nil'}))   # False
print(all({'Zero': 0, 'Nil': 0}))   # True

print(all([]))        # False

In [ ]:
# --------------------- ascii()
# function returns a string containing a printable version of an object. It replaces any non-ascii characters with escape characters \x, \u or \U
print(ascii('Das straße'))                            # 'Das stra\xdfe'
print(ascii(['The street', 'Das straße']))            # ['The street', 'Das stra\xdfe']
print(ascii({'EN':'The street', 'DE':'Das straße'}))  # {'EN': 'The street', 'DE': 'Das stra\xdfe'}

In [ ]:
# --------------------- bin()
# function converts an integer number to a binary string. The result will always be prefixed with '0b'.
print(bin(42))    # 0b101010
print(bin(-42))   # -0b101010
print(bin(0xF))   # 0b1111
print(bin(0o12))  # 0b1010

In [ ]:
# --------------------- bool()
# function converts a value to a boolean value i.e. one of True or False.
print(bool(0))			  # False
print(bool([]))			  # False
print(bool(0.0))		  # False
print(bool(None))		  # False
print(bool(0j))			  # False
print(bool(range(0)))	# False

print(bool(1))			  # True
print(bool([0]))		  # True
print(bool([1, 2]))		# True
print(bool(10))			  # True
print(bool(3+4j))		  # True
print(bool(range(2)))	# True

In [ ]:
# --------------------- chr()
# function returns the character that represents the specified number (unicode code point).
# The valid range for the number is from 0 to 1,114,111 (0x10FFFF).
# ValueError will be raised if you specify number outside that range.
# You can convert it back to unicode using the ord() function.

print(char(65))       # A
print(char(97))       # a
print(char(8364))     # €
print(char(0x24))     # $
print(char(0x110000)) # Triggers ValueError: chr() arg not in range(0x110000)

In [ ]:
# --------------------- divmod()
# function returns a tuple containing the quotient and the remainder when dividend is divided by divisor.
print(divmod(5, 2))   # (2, 1)
'''
a = 5
b = 2
print((a // b, a % b))  # (2, 1)
'''

In [ ]:
# --------------------- enumerate()
# function adds a counter to an iterable and returns it as an enumerate object.
# By default, enumerate() starts counting at 0 but if you add a second argument start, it’ll start from that number instead.
print(list(enumerate(['red', 'green', 'blue'])))      # [(0, 'red'), (1, 'green'), (2, 'blue')]
print(list(enumerate(['red', 'green', 'blue'], 10)))  # [(10, 'red'), (11, 'green'), (12, 'blue')]

for pair in enumerate(['red', 'green', 'blue']):
  print(pair)
# (0, 'red')
# (1, 'green')
# (2, 'blue')

for index, pair in enumerate(['red', 'green', 'blue']):
  print(index, pair)
# 0, red
# 1, green
# 2, blue

In [ ]:
# --------------------- id()
# function returns a unique id for the specified object.
# In Python, every object has its own unique id. Every time you create an object, a unique id is assigned to it.
# The id is nothing but the address of the object in memory. So, it will be different for each time you run the program. But, there are some exceptions.
print(id('Hello!')) # 34936992

print(id(9999)) # 33739544

print(id(['red', 'green', 'blue'])) # 33866256

class myfunc:
  pass
print(id(myfunc())) # 33666912

x = 42
y = x
print(x is y) # True (comparing two ids)

# exceptions
# Some objects have same id (actually one object with multiple pointer), like
# Small integers between -5 and 256
# Small interned strings (usually less than 20 character)
print(30 is 20+10)  # True
print('aa'*2 is 'a'*4)  # True

In [ ]:
# --------------------- int()
# function converts the specified value to integer. A value can be a number or a string, except complex numbers.
print(int(4.2))   # 4
print(int(4.99))  # 4
print(int())      # 0
print(int('69'))  # 69

# You can also specify the base of the given value. Valid values are 0 and 2–36.
# binary string
print(int('1110', 2))   # 14
print(int('0b1110', 2)) # 14
print(int('0b1110', 0)) # 14

# octal string
print(int('10', 8))     # 8
print(int('0o10', 8))   # 8
print(int('0o10', 0))   # 8

# hex string
print(int('F', 16))     # 15
print(int('0xF', 16))   # 15
print(int('0xF', 0))    # 15

In [ ]:
# --------------------- len()
# function returns the number of items of an object.
print(len('python'))                    # 6
print(len(['red', 'green', 'blue']))    # 3
print(len(('red', 'green', 'blue')))    # 3
print(len({'name': 'Bob', 'age': 25}))  # 2
print(len({'red', 'green', 'blue'}))    # 3

In [ ]:
# --------------------- list()
# function creates a list from an iterable.
# The iterable may be a sequence (such as a string, tuple or range) or a collection (such as a dictionary, set or frozen set)
# There is another way you can create lists based on existing lists. It is called List comprehension.
print(list())                           # []
print(list('abc'))                      # ['a', 'b', 'c']
print(list((1, 2, 3)))                  # [1, 2, 3]
print(list(range(0, 4)))                # [0, 1, 2, 3]
print(list({'name': 'Bob', 'age': 25})) # ['age', 'name']
print(list({1, 2, 3}))                  # [1, 2, 3]

In [ ]:
# --------------------- max() max(val1,val2,val3… ,key) or max(iterable,key,default)
# function can find
# the largest of two or more values (such as numbers, strings etc.)
# the largest item in an iterable (such as list, tuple etc.)
print(max(10, 20, 30))                # 30
print(max('red', 'green', 'blue'))    # red
print(max([300, 500, 100, 400, 200])) # 500

# empty list
print(max([]))  # Triggers ValueError: max() arg is an empty sequence
print(max([], default='0')) # 0

# max with built-in functions
print(max(['red', 'green', 'blue', 'black', 'orange'], key=len))    # orange

# custom
def myFunc(e):
  return e[1]	# return age
L = [
  ('Sam', 35),
  ('Tom', 25),
  ('Bob', 30)
]
print(max(L, key=myFunc)) # ('Sam', 35)

# with lambda
L = [
  ('Sam', 35),
  ('Tom', 25),
  ('Bob', 30)
]
print(max(L, key=lambda student: student[1])) # ('Sam', 35)

# custom object
class Student:
	def __init__(self, name, age):
		self.name = name
		self.age = age
	def __repr__(self):
		return repr((self.name, self.age))

L = [
  Student('Sam', 35),
	Student('Tom', 25),
	Student('Bob', 30)
]
print(max(L, key=lambda student: student.age))  # ('Sam', 35)

# --------------------- min() min(val1,val2,val3… ,key) or min(iterable,key,default)
# function can find
# the smallest of two or more values (such as numbers, strings etc.)
# the smallest item in an iterable (such as list, tuple etc.)

In [ ]:
# --------------------- pow(x, y)
# function calculates the value of x to the power of y ( x y ).
# If a third argument z is specified, pow(x, y, z) function returns x to the power of y, modulus z ( x^y % z ).
print(pow(5, 2))    # 25
print(pow(-2, 3))   # -8
print(pow(2.5, 2))  # 25
print(pow(3+4j, 2)) # (-7+24j)
print(pow(2, -2))   # 0.25

print(pow(5, 2, 3)) # 1 i.e 5**2%3

In [ ]:
# --------------------- print()
# function prints the specified message to the screen or the text file. The message can be a string, or any other object (such as number, list, tuple etc.)
'''
Parameter	    Condition	    Description
objects	      Optional	    Zero or more objects to print.
sep	          Optional	    A string to print between each object. Default is a single space ‘ ‘
end	          Optional	    A string to print at the end. Default is a newline ‘\n’.
file	        Optional	    An object with a write(string) method. Default is sys.stdout (screen)
flush	        Optional	    If True, output buffer is forcibly flushed
'''
print('Hello, World!')                      # Hello, World!
print('One','two','three','four','five')    # One two three four five
print('One','two','three', sep='...')       # One...two...three

# The print() function includes a newline \n at the end by default.
# To print the values without a trailing newline, specify end parameter.
print('First line.', end=' ')
print('Next line')
# First line. Next line

# file param
with open('myfile.txt', 'w') as f:
  print('Hello, World!', file=f)

# print object
print(['red', 'green', 'blue']) # ['red', 'green', 'blue']
print((1, 2, 3))                # (1, 2, 3)

In [ ]:
# You generate a property by calling the property() built-in function, passing in three methods (getter, setter and deleter) as well as the docstring for the property.
# If any argument is passed as None or omitted, that operation is not supported.

In [ ]:
# --------------------- range()
# function generates a sequence of numbers from start up to stop, and increments by step.
for x in range(7):
  print(x)  # 0 1 2 3 4 5 6

for x in range(2, 7):
  print(x)  # 2 3 4 5 6

for x in range(-5,0):
  print(x)  # -5 -4 -3 -2 -1

for x in range(2, 7, 2):
  print(x)  # 2 4 6

for x in range(6, 1, -1):
  print(x)  # 6 5 4 3 2

print(list(range(7)))  # [0, 1, 2, 3, 4, 5, 6]

print(range(7)[3])  # 3
print(list(range(7)[2:5]))  # [2, 3, 4]

import numpy
for i in numpy.arange(0, 3, 0.5):
  print(i)  # 0.0 0.5 1.0 1.5 2.0 2.5

In [ ]:
# --------------------- round()
# returns a number rounded to ndigits precision after the decimal point.
# If ndigits is not specified, the number is rounded to the nearest integer.
print(round(2.8))         # 3
print(round(2.86542, 2))  # 2.87

# round to ten's
print(round(48, -1))      # 50
print(round(148, -1))     # 150

# Round to hundred's
print(round(248, -2))     # 200
print(round(268, -2))     # 300

# rounding conversion
print(round(2.865))       # 3
print(round(2.865, 0))    # 3.0

# rounding to even
print(round(4.5))         # 4
print(round(5.5))         # 6

# rounding up
import math
print(math.ceil(4.5))     # 5

# rounding down
import math
print(math.floor(4.5))    # 4

In [ ]:
# --------------------- slice()
# function returns a slice object. A slice object is used to specify how to slice a sequence (list, tuple, string or range etc.) .
# You can specify where to start the slicing, where to stop and specify the step.
print(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'][slice(5)])        # ['a', 'b', 'c', 'd', 'e']
print(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'][slice(2,7)])      # ['c', 'd', 'e', 'f', 'g']
print(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'][slice(2,7,2)])    # ['c', 'e', 'g']
print(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'][slice(-7,-2)])    # ['c', 'd', 'e', 'f', 'g']
print(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'][slice(2,-2)])     # ['c', 'd', 'e', 'f', 'g']
print(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'][slice(7,2,-2)])   # ['h', 'f', 'd']
print(['a', 'b', 'c', 'd'][slice(None, None, -1)])                    # ['d', 'c', 'b', 'a']

In [ ]:
# --------------------- sorted()
# method sorts the items of any iterable
print(sorted(['red', 'green', 'blue', 'orange']))                 # ['blue', 'green', 'orange', 'red']
print(sorted([42, 99, 1, 12]))                                    # [1, 12, 42, 99]
print(sorted(('cc', 'aa', 'dd', 'bb')))                           # ['aa', 'bb', 'cc', 'dd']
print(sorted({'Bob':30, 'Sam':25, 'Max':35, 'Tom':20}))           # ['Bob', 'Max', 'Sam', 'Tom']
print(sorted({'Bob':30, 'Sam':25, 'Max':35, 'Tom':20}.values()))  # [20, 25, 30, 35]
print(sorted(['cc', 'aa', 'dd', 'bb'], reverse=True))             # ['dd', 'cc', 'bb', 'aa']

print(sorted(['orange', 'red', 'green', 'blue'], key=len))        # ['red', 'blue', 'green', 'orange']

# custom function
def myFunc(e):
  return e[1]	# return age
L = [
  ('Sam', 35),
  ('Max', 25),
  ('Bob', 30)
]
print(sorted(L, key=myFunc))  # [('Max', 25), ('Bob', 30), ('Sam', 35)]

# lambda
L = [
  ('Sam', 35),
  ('Max', 25),
  ('Bob', 30)
]
print(sorted(L, key=lambda student: student[1]))  # [('Max', 25), ('Bob', 30), ('Sam', 35)]

# To access items of an iterable, Python provides convenience functions
from operator import itemgetter
L = [
  ('Sam', 35),
  ('Max', 25),
  ('Bob', 30)
]
print(sorted(L, key=itemgetter(1))) # [('Max', 25), ('Bob', 30), ('Sam', 35)]

# multiple level sorting
L = [
  ('Bob', 'B', 30),
	('Sam', 'A', 35),
  ('Max', 'B', 25),
  ('Tom', 'A', 20),
  ('Ron', 'A', 40),
  ('Ben', 'B', 15)
]
print(sorted(L, key=itemgetter(1,2)))
#        [('Tom', 'A', 20),
#         ('Sam', 'A', 35),
#         ('Ron', 'A', 40),
#         ('Ben', 'B', 15),
#         ('Max', 'B', 25),
#         ('Bob', 'B', 30)]

In [ ]:
# --------------------- sum()
# function sums the items of an iterable and returns the total.
print(sum([1, 2, 3, 4, 5]))       # 15

# start with n and add all items in list
print(sum([1, 2, 3, 4, 5], 10))   # 25

In [ ]:
# --------------------- tuple()
# function creates a tuple from an iterable.
print(tuple())            # ()
print(tuple('abc'))       # ('a', 'b', 'c')
print(tuple([1, 2, 3]))   # (1, 2, 3)
print(tuple(range(0, 4))) # (0, 1, 2, 3)

print(tuple({'name': 'Bob', 'age': 25}))  # ('age', 'name')
print(tuple({1, 2, 3}))                   # (1, 2, 3)

In [ ]:
# --------------------- type() type(object) or type(name,bases,dict)
# function returns the type of the specified object.
print(type(42))                         # <class 'int'>
print(type('Hello'))                    # <class 'str'>
print(type(['red', 'green', 'blue']))   # <class 'list'>
print(type({'name': 'Bob', 'age': 25})) # <class 'dict'>

class fruit:
  pass
print(type(fruit()))                    # Prints <class '__main__.fruit'>

# type() vs isinstance()
# The isinstance() method takes subclasses into account; type() doesn’t.
class fruit:
  pass

class apple(fruit):
  pass

print(isinstance(fruit(), fruit)) # True
print(type(fruit()) == fruit)     # True
print(isinstance(apple(), fruit)) # True
print(type(apple()) == fruit)     # False, and this probably won't be what you want.

In [ ]:
# --------------------- zip()
# function combines items from each of the specified iterables.
# The return value is a list of tuples where the items of each passed iterable at same index are paired together.
x = [1, 2, 3]
y = ['one', 'two', 'three']
print(list(zip(x, y)))    # [(1, 'one'), (2, 'two'), (3, 'three')]

x = [1, 2, 3]
y = ['one', 'two', 'three']
z = ['I', 'II', 'III']
print(list(zip(x, y, z))) # [(1, 'one', 'I'), (2, 'two', 'II'), (3, 'three', 'III')]

# If you pass iterables having different length, the iterable with least items decides the length of the resulting iterable.
x = [1, 2, 3, 4]
y = ['one', 'two']
z = ['I', 'II', 'III']
print(list(zip(x, y, z))) # [(1, 'one', 'I'), (2, 'two', 'II')]

# Unzip/Unpack Zipped Items
x = [1, 2, 3]
y = ['one', 'two', 'three']
result = zip(x, y)

# unzip
a, b = zip(*result)
print(a)  # (1, 2, 3)
print(b)  # ('one', 'two', 'three')

keys = ['name', 'age']
values = ['Bob', 25]
print(dict(zip(keys, values)))  # {'age': 25, 'name': 'Bob'}

name = ['Bob', 'Sam', 'Max']
age = [25, 35, 30]
for x, y in zip(name, age):
  print(x, y)
# Bob 25
# Sam 35
# Max 30

In [ ]:
# --------------------- open()
# function opens a file and returns it as a file object. With this file object you can create, update, read, and delete files.
# open(file, mode, buffering, encoding, errors, newline, closefd, opener)
'''
Parameter	  Condition	  Description
file	      Required	  The path and name of the file
mode	      Optional	  Specifies the mode you want to open the file in
buffering	  Optional	  Sets the buffering policy
encoding	  Optional	  Specifies encoding
errors	    Optional	  Specifies different error handling scheme
newline	    Optional	  Controls how universal newlines mode works
closefd	    Optional	  Keeps the underlying file descriptor open when the file is closed
opener	    Optional	  A custom opener used for low-level I/O operations
'''

# open file
f = open('myfile.txt')

# specify absolute path
f = open(r'C:\Python33\Scripts\myfile.txt')

# Open a file for reading
f = open('myfile.txt')

# Open a file for writing
f = open('myfile.txt', 'w')

# Open a file for reading and writing
f = open('myfile.txt', 'r+')

# Open a binary file for reading
f = open('myfile.txt', 'rb')

# Read a file in 'UTF-8' encoding
f = open('myfile.txt', encoding='UTF-8')

# Read a file in 'ascii' encoding
f = open('myfile.txt', encoding='ascii')

# myfile.txt
# Das straße
# Read a file in 'ascii' and ignore decoding errors
f = open('myfile.txt', encoding='ascii', errors='ignore')
print(f.read()) # Das strae

In [ ]:
# --------------------- locals()
# function returns the local symbol table as a dictionary. It contains information about all local variables.

# global variables
a = 10
b = 20

def myfunc():
  # local variables
  c = 30
  d = 40
  print(locals())

myfunc()  # {'c': 30, 'd': 40}

x = 5       # global scope
def myfunc():
  x = 10  # local scope
  print('x inside function is', x)

myfunc()  # x inside function is 10
print('x outside function is', x) # x outside function is 5

# Get the value of local variable 'x'
x = 10
print(locals()['x'])  # 10

In [ ]:
# --------------------- globals()
# function returns the global symbol table as a dictionary. It contains information about all global variables.
# Declare some global variables
a = 10
b = 20
c = 30
d = 40

print(globals())
#       {'__name__': '__main__',
#        '__doc__': None,
#        '__package__': None,
#        '__loader__': <_frozen_importlib_external.SourceFileLoader object at 0x7fed1a254358>,
#        '__spec__': None,
#        '__annotations__': {},
#        '__builtins__': <module 'builtins' (built-in)>,
#        '__file__': 'main.py',
#        '__cached__': None,
#        'a': 10,
#        'b': 20,
#        'c': 30,
#        'd': 40 }

x = 5       # global scope
def myfunc():
  x = 10  # local scope
  print('x inside function is', x)

myfunc()  # x inside function is 10
print('x outside function is', x) # x outside function is 5

x = 10
print(globals()['x']) # 10

print(globals()['__file__'])  # main.py

# modify global variables
x = 5       # global scope

def myfunc():
  x = 10  # local scope
  globals()['x'] = 99    # update global x
  print('x inside function is', x)

myfunc()  # x inside function is 10
print('x outside function is', x) # x outside function is 99

In [ ]:
# --------------------- format()
# Although you can get a lot done with the string methods, Python also provides a more advanced and powerful way to do string processing tasks – string formatting.
'''
Here are all the formatting options:

Formatting options	  Valid values
field	                <any number or keyword>
conversion	          s | r | a
fill	                <any character>
align	                < | > | = | ^
sign	                + | – |
width	                <any number>
group	                _ | ,
precision	            <any number>
type	                b | c | d | e | E | f | F | g | G | n | o | s | x | X | %
'''

print('{} is {} years old.'.format('Bob', 25))                  # Bob is 25 years old.
print('{1} is {0} years old.'.format(25, 'Bob'))                # Bob is 25 years old.
print('{name} is {age} years old.'.format(name='Bob', age=25))  # Bob is 25 years old.

print('{:<12}'.format('Left'))    # |L|e|f|t| | | | | | | | |
print('{:>12}'.format('Right'))   # | | | | | | | |R|i|g|h|t|
print('{:^12}'.format('Center'))  # | | | |C|e|n|t|e|r| | | |
print('{:*^12}'.format('Center')) # |*|*|*|C|e|n|t|e|r|*|*|*|

# truncate to 2 char
print('{:.2}'.format('Python'))   # Py
print('{:^10.2}'.format('Python'))# | | | | |P|y| | | | |

print('int:{0:d}, hex:{0:x}, oct:{0:o}, bin:{0:b}, char:{0:c}'.format(42))  # int:42, hex:2a, oct:52, bin:101010, char:*
print('hex:{0:#x}; oct:{0:#o}; bin:{0:#b}'.format(42))  # hex:0x2a; oct:0o52; bin:0b101010

print('{:f}'.format(3.141592653))             # 3.141593
print('{:.2f}'.format(3.141592653))           # 3.14
print('{:.2e}'.format(3141592653))            # 3.14e+09
print('{:.2%}'.format(19.5/22))               # 88.64%
print('{:+.2f}, {:+.2f}'.format(3.14, -3.14)) # +3.14, -3.14
print('{:-.2f}, {:-.2f}'.format(3.14, -3.14)) # 3.14, -3.14
print('{: .2f}, {: .2f}'.format(3.14, -3.14)) #  3.14, -3.14
print('{:5d}'.format(42))                     # | | | |4|2|
print('{:0>3d}'.format(7))                    # 007
print('{:06.2f}'.format(3.141592653589793))   # 003.14
print('{:0=8d}'.format(-120))                 # -0000120
print('{:,}'.format(1234567890))              # 1,234,567,890
print('{:_b}'.format(0b01010101010))          # 10_1010_1010

import datetime
D = datetime.datetime(2010, 7, 4, 12, 15, 58)
print('{:%Y-%m-%d %H:%M:%S}'.format(D))       # 2010-07-04 12:15:58

print('{:{fill}{align}{width}}'.format('center', fill='*', align='^', width='12'))  # ***center***

In [ ]:
# --------------------- complex()
# function creates a complex number when real and imaginary parts are specified.
print(complex(3, 2))    # (3+2j)
print(complex(-3, 2))   # (-3+2j)
print(complex(3, -2))   # (3-2j)

print(complex(3))       # (3+0j)
print(complex(0, 4))    # 4j

print(complex())        # 0j

print(complex('3+4j'))  # (3+4j)

print(complex('3 + 4j'))  # Triggers ValueError: complex() arg is a malformed string

# Python global, local keyword

`global` keyword is used to create or update a global variable from a nonglobal scope (such as inside a function or a class).

In [ ]:
# ---------------------
x = 42          # global scope x

def myfunc():
  print(x)      # x is 42 inside def

myfunc()
print(x)        # x is 42 outside def

# ---------------------
x = 42          # global scope x
def myfunc():
  x = 0
  print(x)      # local x is now 0

myfunc()
print(x)        # global x is still 42

# ---------------------
x = 42          # global scope x
def myfunc():
  global x      # declare x global
  x = 0
  print(x)      # global x is now 0

myfunc()
print(x)        # global x is 0

# ---------------------
# Here’s another example that tries to update a global variable inside a function.
x = 42          # global scope x

def myfunc():
  x = x + 1     #  raises UnboundLocalError
  print(x)

myfunc()

# ---------------------
# The solution, again, is to declare x global.
x = 42          # global scope x

def myfunc():
  global x
  x = x + 1     # global x is now 43
  print(x)

myfunc()
print(x)        # global x is 43

# ---------------------
# create global inside function
def myfunc():
  global x      # x should now be global
  x = 42

myfunc()
print(x)        # x is 42

`nonlocal` keyword is used to update these variables inside a nested function. The usage of `nonlocal` is very similar to that of global, except that the former is primarily used in nested functions.

In [ ]:
# ---------------------
def f1():
  x = 42

  # nested function
  def f2():
    x = 0
    print(x)      # x is 0
  f2()
  print(x)        # x is still 42

f1()

# ---------------------
def f1():
  x = 42

  # nested function
  def f2():
    nonlocal x
    x = 0
    print(x)      # x is now 0
  f2()
  print(x)        # x remains 0

f1()

# Python Advanced

global and local keyword

In [ ]:
# global
a = 10                  # global scope
def something():
  a = 15                # local scope
  print(a)              # 15 (create a new variable and assign 15 to it)

something()
print(a)                # 10

a = 10                  # global scope
def something():
  global a              # explicity telling python to change global variable's value
  a = 15
  print(a)              # 15

something()
print(a)                # 15

# to use global and local variable of same name
a = 10                  # global scope
def something():
  a = 9
  x = globals()['a']    # access to reference of variable a
  print(a)              # 9

  # change global variable's value without effecting local variable
  globals()['a'] = 15

something()
print(a)                # 15

In [ ]:
# local
# To modify variables from a nonlocal scope in a local scope, you use the nonlocal keyword
def outer():
  message = 'outer scope'
  print(message)        # outer scope

  def inner():
    nonlocal message
    message = 'inner scope'
    print(message)      # inner scope

  inner()

  print(message)        # inner scope

outer()

message = 'outer scope'
def outer():
  print(message)        # outer scope

  def inner():
    global message
    message = 'inner scope'
    print(message)      # inner scope

  inner()

  print(message)        # inner scope

outer()

'''
# In this example, we use nonlocal keyword to explicitly instruct Python that we’re modifying a nonlocal variable.

# When you use the nonlocal keyword for a variable, Python will look for the variable in the enclosing local scopes chain until
# it first encounters the variable name.

# More importantly, Python won’t look for the variable in the global scope.

message = 'outer scope'

def outer():
  print(message)

  def inner():
    nonlocal message
    message = 'inner scope'
    print(message)

  inner()

  print(message)

outer()
# SyntaxError: no binding for nonlocal 'message' found
'''

Closure - A closure is a function and an extended scope that contains free variables.

In [ ]:
def say():
  greeting = 'Hello'
  print(hex(id(greeting)))

  def display():
    print(hex(id(greeting)))
    print(greeting)

  return display

fn = say()
fn()

'''
0x17186a829b0
0x17186a829b0
'''

In [ ]:
def multiplier(x):
  def multiply(y):
    return x * y
  return multiply

multipliers = []
for x in range(1, 4):
  multipliers.append(multiplier(x))

m1, m2, m3 = multipliers

print(m1(10)) # 10
print(m2(10)) # 20
print(m3(10)) # 30

Decorator - A decorator is a function that takes another function as an argument and extends its behavior without changing the original function explicitly.

Python decorator definition
In general, a decorator is:

* A function that takes another function (original function) as an argument and returns another function (or closure)
* The closure typically accepts any combination of positional and keyword-only arguments.
* The closure function calls the original function using the arguments passed to the closure and returns the result of the function.

In [ ]:
# The currency function returns the wrapper function. The wrapper function has the *args and **kwargs parameters.
def net_price(price, tax):
  return price * (1 + tax)

def currency(fn):
  def wrapper(*args, **kwargs):
    result = fn(*args, **kwargs)
    return f'${result}'
  return wrapper

net_price = currency(net_price)
print(net_price(100, 0.05)) # $105.0

In [ ]:
# The @ symbol
# In the previous example, the currency is a decorator. And you can decorate the net_price function using the following syntax:
# net_price = currency(net_price)

# Generally, if decorate is a decorator function and you want to decorate another function fn, you can use this syntax:
# fn = decorate(fn)

# instead of using the following syntax, you can decorate the net_price function using the @currency
def currency(fn):
  def wrapper(*args, **kwargs):
    result = fn(*args, **kwargs)
    return f'${result}'
  return wrapper

@currency
def net_price(price, tax):
  return price * (1 + tax)

print(net_price(100, 0.05))

'''
@decorate
def fn(*args,**kwargs):
  pass
fn = decorate(fn)

The decorate function returns a new function, which is the wrapper function.
If you use the built-in help function to show the documentation of the new function,
you won’t see the documentation of the original function.

  help(net_price)

  Output:
  wrapper(*args, **kwargs)
  None

Also, if you check the name of the new function,
Python will return the name of the inner function returned by the decorator:

  print(net_price.__name__);
  wrapper
'''

# So when you decorate a function, you’ll lose the original function signature and documentation.
# To fix this, you can use the wraps function from the functools standard module. In fact, the wraps function is also a decorator.
from functools import wraps

def currency(fn):
  @wraps(fn)
  def wrapper(*args, **kwargs):
    result = fn(*args, **kwargs)
    return f'${result}'
  return wrapper

@currency
def net_price(price, tax):
  """ calculate the net price from price and tax
    Arguments:
      price: the selling price
      tax: value added tax or sale tax
    Return
      the net price
  """
  return price * (1 + tax)

help(net_price)
print(net_price.__name__)
# Output:
# net_price(price, tax)
#     calculate the net price from price and tax
#     Arguments:
#         price: the selling price
#         tax: value added tax or sale tax
#     Return
#         the net price

# net_price

In [ ]:
# decorators with arguments
from functools import wraps

def repeat(times):
  ''' call a function a number of times '''
  def decorate(fn):
    @wraps(fn)
    def wrapper(*args, **kwargs):
      for _ in range(times):
        result = fn(*args, **kwargs)
      return result
    return wrapper
  return decorate

@repeat(10)
def say(message):
  ''' print the message
    Arguments
        message: the message to show
    '''
  print(message)

say('Hello')
# print hello 10 times

In [ ]:
# class decorator
class Star:
  def __init__(self, n):
    self.n = n

  def __call__(self, fn):
    @wraps(fn)
    def wrapper(*args, **kwargs):
      print(self.n*'*')
      result = fn(*args, **kwargs)
      print(result)
      print(self.n*'*')
      return result
    return wrapper

@Star(5)
def add(a, b):
  return a + b

add(10, 20)

Monkey patching

is a technique that allows you to modify or extend the behavior of existing modules, classes, or functions at runtime without changing the original source code.

When to use money patching

In practice, you should use monkey patching only when necessary because it can make code harder to understand and debug.

For example, if you use a third-party library and it has an urgent bug that you cannot wait for official release. In this case, you can use the monkey patching to apply quick fixes while waiting for a proper solution.

Another scenario is that you want to add functionality to classes that you don’t control and you cannot use other techniques like inheritance or composition, the monkey patching is useful in this case.

In practice, you’ll find monkey patching in the mock library such as the standard unittest.mock module. The unittest.mock module has patch() method that temporarily replaces a target with a mock object.

In [ ]:
def add_speech(cls):
  cls.speak = lambda self, message: print(message)
  return cls

@add_speech
class Robot:
  def __init__(self, name):
    self.name = name

robot = Robot('Optimus Prime')
robot.speak('Hi')

Named Tuple - tuple + class

In [ ]:
from collections import namedtuple
Point2D = namedtuple('Point2D',['x','y'])
point = Point2D(100, 200)

print(isinstance(point, Point2D))   # True
print(isinstance(point, tuple))     # True

# normal class
class Point2D:
  def __init__(self, x, y):
    self.x = x
    self.y = y

  def __eq__(self, other):
    if isinstance(other, Point2D):
      return self.x == other.x and self.y == other.y
    return False

a = Point2D(100, 200)
b = Point2D(100, 200)

print(a is b)  # False
print(a == b)  # True

# using named tuple
from collections import namedtuple
Point2D = namedtuple('Point2D',['x','y'])
point = Point2D(100, 200)
point2 = Point2D(100, 200)

print(isinstance(point, Point2D))   # True
print(isinstance(point, tuple))     # True
print(point is point2)              # False
print(point == point2)              # True

Gnerator

To pause a function midway and resume from where the function was paused, you use the yield statement.
When a function contains at least one yield statement, it’s a generator function.
By definition, a generator is a function that contains at least one yield statement.
When you call a generator function, it returns a new generator object. However, it doesn’t start the function.
Generator objects (or generators) implement the iterator protocol. In fact, generators are lazy iterators. Therefore, to execute a generator function, you call the next() built-in function on it.

In [ ]:
def greeting():
  print('Hi!')
  yield 1
  print('How are you?')
  yield 2
  print('Are you there?')
  yield 3

messenger = greeting()
result = next(messenger)  # Hi
print(result)             # 1
result = next(messenger)  # How are you?
print(result)             # 2
result = next(messenger)  # Are you there?
print(result)             # 3

# Error: StopIteration
result = next(messenger)
print(result)

In [ ]:
# Using Python generators to create iterators
class Squares:
  def __init__(self, length):
    self.length = length
    self.current = 0

  def __iter__(self):
    return self

  def __next__(self):
    result = self.current ** 2

    self.current += 1

    if self.current > self.length:
      raise StopIteration

    return result

# using generator
def squares(length):
  for n in range(length):
    yield n ** 2

length = 5
square = squares(length)
for s in square:
  print(s)

'''
Output:
0
1
4
9
16

Once you iterate over all the items, the iterator is exhausted.
It means you need to create a new iterator to iterate over its items again.

If you attempt to use the iterator that is already exhausted, you’ll get the StopIteration exception.
For example:
next(square)

Error:
StopIteration

Also, an iterator cannot be restarted because it only has the __next__ method that returns the next item from a collection.
'''

A list comprehension returns an iterable. It means that you can iterate over the result of a list comprehension again and again.

However, a generator expression returns an iterator, specifically a lazy iterator. It becomes exhausting when you complete iterating over it.

Iterators

An iterator is an object that implements:

* __iter__ method that returns the object itself.
* __next__ method that returns the next item. If all the items have been returned, the method raises a StopIteration exception.

Once you complete iterating a collection using an iterator, the iterator becomes exhausted. It means that you cannot use the iterator object anymore.

Iterable

An iterable is an object that you can iterate over.

An object is iterable when it implements the __iter__ method. And its __iter__ method returns a new iterator.

In [ ]:
# Examining the built-in list and list iterator
numbers = [1, 2, 3]
number_iterator = numbers.__iter__()
print(type(number_iterator))  # <class 'list_iterator'>

# Because the list_iterator implements the __iter__ method, you can use the iter built-in function to get the iterator object:
# Since the list_iterator also implements the __next__ method, you can use the built-in function next to iterate over the list:
numbers = [1, 2, 3]
number_iterator = iter(numbers)
next(number_iterator)
next(number_iterator)
next(number_iterator)

# If you call the next function once more, you’ll get a StopIteration exception.
next(number_iterator)
# Error:
# StopIteration

In [ ]:
# Iterator and iterable
class Colors:
  def __init__(self):
    self.rgb = ['red', 'green', 'blue']
    self.__index = 0

  def __iter__(self):
    return self

  def __next__(self):
    if self.__index &gt;= len(self.rgb):
      raise StopIteration

    # return the next color
    color = self.rgb[self.__index]
    self.__index += 1
    return color

'''
In this example, the Colors class plays two roles: iterable and iterator.
The Colors class is an iterator because it implements both __iter__ and __next__ method.
The __iter__ method returns the object itself. And the __next__ method returns the next item from a list.

The Colors class is also an iterable because it implements the __iter__ method that returns an object itself, which is an iterator.
The following creates a new instance of the Colors class and iterates over its elements using a for loop:
'''

colors = Colors()
for color in colors:
  print(color)

# Once you complete iterating, the colors object becomes useless. If you attempt to iterate it again, you’ll get a StopIteration exception:
next(colors)
# Error:
# StopIteration

# If you use the for loop, you’ll get nothing back. The iterator is empty:
for color in colors:
  print(color)
# To iterate again, you need to create a new colors object with the rgb attribute. This is inefficient.

In [ ]:
# Internally, the for loop calls the __iter__ method of the colors object to get the iterator and uses this iterator to iterate over the elements of the colors object.
# The following places the ColorIterator class inside the Colors class to encapsulate them into a single class:
class Colors:
  def __init__(self):
    self.rgb = ['red', 'green', 'blue']

  def __len__(self):
    return len(self.rgb)

  def __iter__(self):
    return self.ColorIterator(self)

  class ColorIterator:
    def __init__(self, colors):
      self.__colors = colors
      self.__index = 0

    def __iter__(self):
      return self

    def __next__(self):
      if self.__index >= len(self.__colors):
        raise StopIteration

      # return the next color
      color = self.__colors.rgb[self.__index]
      self.__index += 1
      return color

iter() - function returns an iterator of a given object:

# Python Event loop and Asyncio

* The event loop is responsible for getting tasks from an event queue and handling it.
* The asyncio package uses an event loop to achieve a single-threaded concurrency model.

![image.png]()

Python coroutines

A coroutine is a regular function with the ability to pause its execution when encountering an operation that may take a while to complete.

When the long-running operation completes, you can resume the paused coroutine and execute the remaining code in that coroutine.

While the coroutine is waiting for the long-running operation, you can run other code. By doing this, you can run the program asynchronously to improve its performance.

To create and pause a coroutine, you use the Python async and await keywords:

* The async keyword creates a coroutine.
* The await keyword pauses a coroutine.

In [ ]:
# let's take an example
async def square(number: int) -> int:
  return number*number

result = square(10)
print(square)

'''
<coroutine object square at 0x00000185C31E7D80>
sys:1: RuntimeWarning: coroutine 'square' was never awaited

When you call a coroutine, Python doesn’t execute the code inside the coroutine immediately. Instead, it returns a coroutine object.
The second line in the output also shows an error message indicating that the coroutine was never awaited. More on this in the following await section:

To run a coroutine, you need to execute it on an event loop. Prior to Python 3.7, you have to manually create an event loop to execute coroutines and close the event loop.
However, since version 3.7, the asyncio library added some functions that simplify the event loop management.

For example, you can use the asyncio.run() function to automatically create an event loop, run a coroutine and close it.
The following uses the asyncio.run() function to execute the square() coroutine and get the result:

It’s important to note that the asyncio.run() is designed to be the main entry point of an asyncio program.
Also, the asyncio.run() function only executes one coroutine which may call other coroutines and functions in the program.
'''

import asyncio

async def square(number: int) -> int:
  return number*number

result = asyncio.run(square(10))
print(result) # 100

In [ ]:
# Pausing a coroutine with Python await keyword
'''
The await keyword causes the my_coroutine() to execute, waits for the code to be completed, and returns a result.
It’s important to note that await keyword is only valid inside a coroutine. In other words, you must use the await keyword inside a coroutine.
This is the reason why you saw an error message in the above example that uses the await keyword outside of a coroutine.
'''
import asyncio

async def square(number: int) -> int:
  return number*number

async def main() -> None:
  x = await square(10)
  print(f'x={x}')

  y = await square(5)
  print(f'y={y}')

  print(f'total={x+y}')

if __name__ == '__main__':
  asyncio.run(main())

'''
Summary
  * A coroutine is a regular function with the power of pausing a long-running operation, waiting for the result, and resuming from the paused point.
  * Use async keyword to define a coroutine.
  * Use await keyword to pause a coroutine.
  * Use asyncio.run() function to automatically execute a coroutine on an event loop and manage an event loop.
'''

asyncio.create_task()

In [ ]:
import asyncio
import time

async def call_api(message, result=1000, delay=3):
  print(message)
  await asyncio.sleep(delay)
  return result

async def main():
  start = time.perf_counter()

  price = await call_api('Get stock price of GOOG...', 300)
  print(price)

  price = await call_api('Get stock price of APPL...', 400)
  print(price)

  end = time.perf_counter()
  print(f'It took {round(end-start,0)} second(s) to complete.')

asyncio.run(main())
'''
Get stock price of GOOG...
300
Get stock price of APPL...
400
It took 6.0 second(s) to complete.

we use async and await to write asynchronous code but can’t run it concurrently.
To run multiple operations concurrently, we’ll need to use something called tasks.
'''

![image.png]()

In [ ]:
# Python tasks
'''
A task is a wrapper of a coroutine that schedules the coroutine to run on the event loop as soon as possible.
The scheduling and execution occur in a non-blocking manner. In other words, you can create a task and execute other code instantly while the task is running.

Notice that the task is different from the await keyword that blocks the entire coroutine until the operation completes with a result.
It’s important that you can create multiple tasks and schedule them to run instantly on the event loop at the same time.

To create a task, you pass a coroutine to the create_task() function of the asyncio package. The create_task() function returns a Task object.
'''

import asyncio
import time

async def call_api(message, result=1000, delay=3):
  print(message)
  await asyncio.sleep(delay)
  return result


async def main():
  start = time.perf_counter()

  task_1 = asyncio.create_task(
    call_api('Get stock price of GOOG...', 300)
  )

  task_2 = asyncio.create_task(
    call_api('Get stock price of APPL...', 300)
  )

  price = await task_1
  print(price)

  price = await task_2
  print(price)

  end = time.perf_counter()
  print(f'It took {round(end-start,0)} second(s) to complete.')

asyncio.run(main())

'''
here, create a task and schedule it to run on the event loop immediately:
task_1 = ...
task_2 = ...

After that, wait for the tasks to be completed:
price = await ...

Summary
* A task is a wrapper of a coroutine that schedules the coroutine to run on the event loop as soon as possible.
* Use the create_task() function of the asyncio library to create a task.
* Use the await keyword with the task at some point in the program so that the task can be completed before the event loop is closed by the asyncio.run() function.
'''

![image.png]()

In [ ]:
# Cancelling Tasks
import asyncio
from asyncio import CancelledError

async def call_api(message, result=1000, delay=3):
  print(message)
  await asyncio.sleep(delay)
  return result

async def main():
  task = asyncio.create_task(
    call_api('Calling API...', result=2000, delay=5)
  )

  if not task.done():
    print('Cancelling the task...')
    task.cancel()

  try:
    await task
  except CancelledError:
    print('Task has been cancelled.')

asyncio.run(main())
'''
Cancelling the task...
Task has been cancelled
'''

In [ ]:
# asyncio.wait_for()
# To wait for a task to complete with a timeout, you can use the asyncio.wait_for() function. The asyncio.wait_for() function waits for a single task to be completed with a timeout.
# When a timeout occurs, the asyncio.wait_for() function cancels the task and raises the TimeoutError exception. Otherwise, it returns the result of the task. For example:
import asyncio
from asyncio.exceptions import TimeoutError

async def call_api(message, result=1000, delay=3):
  print(message)
  await asyncio.sleep(delay)
  return result

async def main():
  task = asyncio.create_task(
    call_api('Calling API...', result=2000, delay=5)
  )

  MAX_TIMEOUT = 3
  try:
    await asyncio.wait_for(task, timeout=MAX_TIMEOUT)
  except TimeoutError:
    print('The task was cancelled due to a timeout')

asyncio.run(main())
# Calling API...
# The task was cancelled due to a timeout

In [ ]:
# asyncio.shield() Shielding a task from cancellation
'''
Sometimes, you may want to inform users that a task is taking longer than expected after a certain amount of time but not cancel the task when a timeout is exceeded.
'''
import asyncio
from asyncio.exceptions import TimeoutError

async def call_api(message, result=1000, delay=3):
  print(message)
  await asyncio.sleep(delay)
  return result

async def main():
  task = asyncio.create_task(
    call_api('Calling API...', result=2000, delay=5)
  )

  MAX_TIMEOUT = 3
  try:
    await asyncio.wait_for(asyncio.shield(task), timeout=MAX_TIMEOUT)
  except TimeoutError:
    print('The task took more than expected and will complete soon.')
    result = await task
    print(result)

asyncio.run(main())
# Calling API...
# The task took more than expected and will complete soon.
# 2000

asyncio.wait()

function runs an iterable of awaitables objects and blocks until a specified condition.

The asyncio.wait() function has the following parameters:

* aws is iterable of awaitable objects that you want to run concurrently.
* timeout (either int or float) specifies a maximum number of seconds to wait before returning the result.
* return_when indicates when the function should return. The return_when accepts one of the constants in the table below.

In [ ]:
'''
Constant	        Description
FIRST_COMPLETED	  Return when all awaitables are complete or canceled.
FIRST_EXCEPTION	  Return when any awaitable is complete by raising an exception. If no awaitable raises an exception, the FIRST_EXCEPTION is equivalent to ALL_COMPLETED.
ALL_COMPLETED	    Return when all awaitables are complete or cancelled.
'''

import asyncio
from asyncio import create_task

class APIError(Exception):
  pass

async def call_api(message, result=100, delay=3, raise_exception=False):
  print(message)
  await asyncio.sleep(delay)
  if raise_exception:
    raise APIError
  else:
    return result

async def main():
  task_1 = create_task(call_api('calling API 1...', result=1, delay=1))
  task_2 = create_task(call_api('calling API 2...', result=2, delay=2))
  task_3 = create_task(call_api('calling API 3...', result=3, delay=3))

  pending = (task_1, task_2, task_3)

  # call the asyncio.wait() function to run the tasks inside a while loop.
  # If all the tasks are complete, the pending will be empty, and the while loop will exit.
  # In each iteration, we get the completed task from the done set and display the result:
  while pending:
    done, pending = await asyncio.wait(
      pending,
      return_when=asyncio.FIRST_COMPLETED
    )
    result = done.pop().result()
    print(result)

asyncio.run(main())

Future

A future is an object that returns a value later in the future but not now. Typically, a future object is the result of an asynchronous operation.

For example, you may call an API from a remote server and expect to receive the result later. The API call may return a future object so that you can await it.

To create a future object, you use the Future class from the asyncio package. Consider the following example:

In [ ]:
# asyncio future
from asyncio import Future
import asyncio

async def plan(my_future):
  print('Planning my future...')
  await asyncio.sleep(1)
  my_future.set_result('Bright')

def create() -> Future:
  my_future = Future()
  asyncio.create_task(plan(my_future))
  return my_future

async def main():
  my_future = create()
  result = await my_future
  print(result)

asyncio.run(main())

'''
Future, Coroutine, and Task are awaitable and their objects can be used with the await keyword.
'''

asyncio.gather()

Sometimes, you may want to run multiple asynchronous operations and get the results once they are complete.

The asyncio.gather() function has two parameters:

* aws is a sequence of awaitable objects. If any object in the aws is a coroutine, the asyncio.gather() function will automatically schedule it as a task.
* return_exceptions is False by default. If an exception occurs in an awaitable object, it is immediately propagated to the task that awaits on asyncio.gather(). Other awaitables will continue to run and won’t be canceled.

asyncio.gather() returns the results of awaitables as a tuple with the same order as you pass the awaitables to the function.

In [ ]:
# example 1 - to run multiple asynchronous operations
import asyncio

async def call_api(message, result, delay=3):
  print(message)
  await asyncio.sleep(delay)
  return result

async def main():
  a, b = await asyncio.gather(
    call_api('Calling API 1 ...', 1),
    call_api('Calling API 2 ...', 2)
  )
  print(a, b)

asyncio.run(main())
'''
Calling API 1 ...
Calling API 2 ...
100 200
'''

In [ ]:
# example 2 - to run multiple asynchronous operations with exceptions
import asyncio

class APIError(Exception):
  def __init__(self, message):
    self._message = message

  def __str__(self):
    return self._message

async def call_api_failed():
  await asyncio.sleep(3)
  raise APIError('API failed')

async def call_api(message, result, delay=3):
  print(message)
  await asyncio.sleep(delay)
  return result

async def main():
  a, b, c = await asyncio.gather(
    call_api('Calling API 1 ...', 100, 1),
    call_api('Calling API 2 ...', 200, 2),
    call_api_failed()
  )
  print(a, b, c)

asyncio.run(main())

In [ ]:
# example 3 - to return an exception in the result
import asyncio

class APIError(Exception):
  def __init__(self, message):
    self._message = message

  def __str__(self):
    return self._message

async def call_api(message, result, delay=3):
  print(message)
  await asyncio.sleep(delay)
  return result

async def call_api_failed():
  await asyncio.sleep(1)
  raise APIError('API failed')

async def main():
  a, b, c = await asyncio.gather(
    call_api('Calling API 1 ...', 100, 1),
    call_api('Calling API 2 ...', 200, 2),
    call_api_failed(),
    return_exceptions=True
  )
  print(a, b, c)

asyncio.run(main())
'''
Calling API 1 ...
Calling API 2 ...
100 200 API failed
'''